.clearfix::after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
.clearfix {
    display: block;
}


img {max-width: 100% }

// split long links to avoid brake responsive
    a{
        word-wrap: break-word;
    }

// Vertical align content of a div
    .vcenter {
        display: flex;
        align-items: center;
    }

/*TO TOP*/
.back-to-top {
    position: fixed;
    bottom: 2em;
    right: 0px;
    text-decoration: none;
    color: #000000;
    background-color: rgba(235, 235, 235, 0.80);
    font-size: 12px;
    padding: 1em;
    display: none;
}
.back-to-top:hover {background-color: rgba(135, 135, 135, 0.50) }
.error .container {
    display: table;
    height: 100%;
    min-height: 100%;
    text-align: center;
    width: 100%;
    padding: 200px 0;
}
.error .container h1 {
    font-size: 140px;
}

/*for headroom.js*/
/*
.headroom {
    transition: transform 200ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}
.header {
    background-color: inherit;
    line-height: 60px;
}
.header__link {
    border: 0 none;
    color: #fff;
    text-decoration: none;
}
.header__link:focus {
    background-color: rgba(78, 205, 196, 0.1);
    outline: 0 none;
}
.header__link:hover .icon {
    color: #4ecdc4;
}
.header--fixed {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
}
*/

/* Media Queries */
/* Retina */
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (max--moz-device-pixel-ratio: 2) { 
}
/* Landscape phones and down */
@media (max-width: 480px) {
}
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
    
    }

/* Portrait tablet to landscape and desktop */
@media (max-width: 992px) { 
}
/* Large desktop */
@media (min-width: 1200px) {
	section {
	margin-top: auto;
}
/*
.layout-boxed .header--fixed {
    width: 1240px;
    left: auto;
    right: auto;
}*/
}