/*!
 * Master Bootstrap3 (http://www.masterbootstrap.com)
 * Copyright 2013-2016 gsuez.cl.
 * Licensed under GPL v2 (http://www.gnu.org/licenses/gpl-2.0.html)
 */
/*
$gray-dark: #333333 !default;
$gray: #666666 !default;
$gray-bg: #e5e5e5 !default;
$gray-border: #efefef !default;
$gray-light: #999999 !default;
$gray-lighter: #cccccc !default;
$gray-link: #c0c0c0 !default;
$gray-lightest: #f6f6f6 !default;
$grey-medium: #f0f0f0!default;

$blue-dark: #002d88 !default;
$blue: #103184 !default;
$blue-light: #6fb5d9 !default;
$blue-link: #0061ab !default;
$blue-link-hover: $blue !default;
$blu-adv: #4977b6;

$green: #7a9f35 !default;
$red: #ff250f !default;
$red-bg: #f0dddd !default;
$orange: #f29400 !default;
*/
@font-face {
  font-family: "AvenirNext";
  src: url("../fonts/avenir-next-regular.eot?#iefix");
  src: url("../fonts/avenir-next-regular.eot?#iefix") format("eot"), url("../fonts/avenir-next-regular.woff") format("woff"), url("../fonts/avenir-next-regular.ttf") format("truetype"), url("../fonts/avenir-next-regular.svg#avenir-next-regular") format("svg");
  /*font-weight: normal;
	font-style: normal;*/ }

@font-face {
  font-family: "AvenirNext-bold";
  src: url("../fonts/avenir-next-bold.eot?#iefix");
  src: url("../fonts/avenir-next-bold.eot?#iefix") format("eot"), url("../fonts/avenir-next-bold.woff") format("woff"), url("../fonts/avenir-next-bold.ttf") format("truetype"), url("../fonts/avenir-next-bold.svg#avenir-next-bold") format("svg"); }

@font-face {
  font-family: "AvenirNext-italic";
  src: url("../fonts/avenir-next-italic.eot?#iefix");
  src: url("../fonts/avenir-next-italic.eot?#iefix") format("eot"), url("../fonts/avenir-next-italic.woff") format("woff"), url("../fonts/avenir-next-italic.ttf") format("truetype"), url("../fonts/avenir-next-italic.svg#avenir-next-italic") format("svg"); }

@font-face {
  font-family: "AvenirNext-thin";
  src: url("../fonts/avenir-next-thin.eot?#iefix");
  src: url("../fonts/avenir-next-thin.eot?#iefix") format("eot"), url("../fonts/avenir-next-thin.woff") format("woff"), url("../fonts/avenir-next-thin.ttf") format("truetype"), url("../fonts/avenir-next-thin.svg#avenir-next-thin") format("svg"); }

body, h1, h2, h3, h4 {
  font-family: "AvenirNext", "Arial", Helvetica, sans-serif; }

.item-page {
  font-size: 16px;
  margin-bottom: 40px; }
  .item-page h2 {
    font-family: "AvenirNext-bold", "Arial", Helvetica, sans-serif;
    color: #f08e0d; }

.select2-selection__placeholder {
  font-size: 14px; }

input {
  font-size: 14px;
  padding-left: 5px; }

.select2-container .select2-selection--single .select2-selection__rendered {
  line-height: 26px !important;
  font-size: 14px; }

.clearfix::after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden; }

.clearfix {
  display: block; }

img {
  max-width: 100%; }

a {
  word-wrap: break-word; }

.vcenter {
  display: flex;
  align-items: center; }

/*TO TOP*/
.back-to-top {
  position: fixed;
  bottom: 2em;
  right: 0px;
  text-decoration: none;
  color: #000000;
  background-color: rgba(235, 235, 235, 0.8);
  font-size: 12px;
  padding: 1em;
  display: none; }

.back-to-top:hover {
  background-color: rgba(135, 135, 135, 0.5); }

.error .container {
  display: table;
  height: 100%;
  min-height: 100%;
  text-align: center;
  width: 100%;
  padding: 200px 0; }

.error .container h1 {
  font-size: 140px; }

/*for headroom.js*/
/*
.headroom {
    transition: transform 200ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}
.header {
    background-color: inherit;
    line-height: 60px;
}
.header__link {
    border: 0 none;
    color: #fff;
    text-decoration: none;
}
.header__link:focus {
    background-color: rgba(78, 205, 196, 0.1);
    outline: 0 none;
}
.header__link:hover .icon {
    color: #4ecdc4;
}
.header--fixed {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
}
*/
/* Media Queries */
/* Retina */
/* Landscape phones and down */
/* Landscape phone to portrait tablet */
/* Portrait tablet to landscape and desktop */
/* Large desktop */
@media (min-width: 1200px) {
  section {
    margin-top: auto; }
  /*
.layout-boxed .header--fixed {
    width: 1240px;
    left: auto;
    right: auto;
}*/ }

.visually-hidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute; }

/*
  Vertical Align
*/
/*
  Vertical align without height - Parent MUST be set with "position:relative"
*/
/*
  Create margin/padding class. example space-m-y-5px
*/
.space-m-y-0px {
  margin-top: 0px;
  margin-top: 0rem;
  margin-bottom: 0px;
  margin-bottom: 0rem; }

.space-p-y-0px {
  padding-top: 0px;
  padding-top: 0rem;
  padding-bottom: 0px;
  padding-bottom: 0rem; }

.space-m-y-1px {
  margin-top: 1px;
  margin-top: 0.0625rem;
  margin-bottom: 1px;
  margin-bottom: 0.0625rem; }

.space-p-y-1px {
  padding-top: 1px;
  padding-top: 0.0625rem;
  padding-bottom: 1px;
  padding-bottom: 0.0625rem; }

.space-m-y-2px {
  margin-top: 2px;
  margin-top: 0.125rem;
  margin-bottom: 2px;
  margin-bottom: 0.125rem; }

.space-p-y-2px {
  padding-top: 2px;
  padding-top: 0.125rem;
  padding-bottom: 2px;
  padding-bottom: 0.125rem; }

.space-m-y-3px {
  margin-top: 3px;
  margin-top: 0.1875rem;
  margin-bottom: 3px;
  margin-bottom: 0.1875rem; }

.space-p-y-3px {
  padding-top: 3px;
  padding-top: 0.1875rem;
  padding-bottom: 3px;
  padding-bottom: 0.1875rem; }

.space-m-y-4px {
  margin-top: 4px;
  margin-top: 0.25rem;
  margin-bottom: 4px;
  margin-bottom: 0.25rem; }

.space-p-y-4px {
  padding-top: 4px;
  padding-top: 0.25rem;
  padding-bottom: 4px;
  padding-bottom: 0.25rem; }

.space-m-y-5px {
  margin-top: 5px;
  margin-top: 0.3125rem;
  margin-bottom: 5px;
  margin-bottom: 0.3125rem; }

.space-p-y-5px {
  padding-top: 5px;
  padding-top: 0.3125rem;
  padding-bottom: 5px;
  padding-bottom: 0.3125rem; }

.space-m-y-6px {
  margin-top: 6px;
  margin-top: 0.375rem;
  margin-bottom: 6px;
  margin-bottom: 0.375rem; }

.space-p-y-6px {
  padding-top: 6px;
  padding-top: 0.375rem;
  padding-bottom: 6px;
  padding-bottom: 0.375rem; }

.space-m-y-8px {
  margin-top: 8px;
  margin-top: 0.5rem;
  margin-bottom: 8px;
  margin-bottom: 0.5rem; }

.space-p-y-8px {
  padding-top: 8px;
  padding-top: 0.5rem;
  padding-bottom: 8px;
  padding-bottom: 0.5rem; }

.space-m-y-10px {
  margin-top: 10px;
  margin-top: 0.625rem;
  margin-bottom: 10px;
  margin-bottom: 0.625rem; }

.space-p-y-10px {
  padding-top: 10px;
  padding-top: 0.625rem;
  padding-bottom: 10px;
  padding-bottom: 0.625rem; }

.space-m-y-15px {
  margin-top: 15px;
  margin-top: 0.9375rem;
  margin-bottom: 15px;
  margin-bottom: 0.9375rem; }

.space-p-y-15px {
  padding-top: 15px;
  padding-top: 0.9375rem;
  padding-bottom: 15px;
  padding-bottom: 0.9375rem; }

.space-m-y-20px {
  margin-top: 20px;
  margin-top: 1.25rem;
  margin-bottom: 20px;
  margin-bottom: 1.25rem; }

.space-p-y-20px {
  padding-top: 20px;
  padding-top: 1.25rem;
  padding-bottom: 20px;
  padding-bottom: 1.25rem; }

.space-m-y-25px {
  margin-top: 25px;
  margin-top: 1.5625rem;
  margin-bottom: 25px;
  margin-bottom: 1.5625rem; }

.space-p-y-25px {
  padding-top: 25px;
  padding-top: 1.5625rem;
  padding-bottom: 25px;
  padding-bottom: 1.5625rem; }

.space-m-y-30px {
  margin-top: 30px;
  margin-top: 1.875rem;
  margin-bottom: 30px;
  margin-bottom: 1.875rem; }

.space-p-y-30px {
  padding-top: 30px;
  padding-top: 1.875rem;
  padding-bottom: 30px;
  padding-bottom: 1.875rem; }

.space-m-y-35px {
  margin-top: 35px;
  margin-top: 2.1875rem;
  margin-bottom: 35px;
  margin-bottom: 2.1875rem; }

.space-p-y-35px {
  padding-top: 35px;
  padding-top: 2.1875rem;
  padding-bottom: 35px;
  padding-bottom: 2.1875rem; }

.space-m-y-40px {
  margin-top: 40px;
  margin-top: 2.5rem;
  margin-bottom: 40px;
  margin-bottom: 2.5rem; }

.space-p-y-40px {
  padding-top: 40px;
  padding-top: 2.5rem;
  padding-bottom: 40px;
  padding-bottom: 2.5rem; }

.space-m-y-45px {
  margin-top: 45px;
  margin-top: 2.8125rem;
  margin-bottom: 45px;
  margin-bottom: 2.8125rem; }

.space-p-y-45px {
  padding-top: 45px;
  padding-top: 2.8125rem;
  padding-bottom: 45px;
  padding-bottom: 2.8125rem; }

.space-m-y-50px {
  margin-top: 50px;
  margin-top: 3.125rem;
  margin-bottom: 50px;
  margin-bottom: 3.125rem; }

.space-p-y-50px {
  padding-top: 50px;
  padding-top: 3.125rem;
  padding-bottom: 50px;
  padding-bottom: 3.125rem; }

.space-m-y-60px {
  margin-top: 60px;
  margin-top: 3.75rem;
  margin-bottom: 60px;
  margin-bottom: 3.75rem; }

.space-p-y-60px {
  padding-top: 60px;
  padding-top: 3.75rem;
  padding-bottom: 60px;
  padding-bottom: 3.75rem; }

.space-m-y-100px {
  margin-top: 100px;
  margin-top: 6.25rem;
  margin-bottom: 100px;
  margin-bottom: 6.25rem; }

.space-p-y-100px {
  padding-top: 100px;
  padding-top: 6.25rem;
  padding-bottom: 100px;
  padding-bottom: 6.25rem; }

.space-m-y-150px {
  margin-top: 150px;
  margin-top: 9.375rem;
  margin-bottom: 150px;
  margin-bottom: 9.375rem; }

.space-p-y-150px {
  padding-top: 150px;
  padding-top: 9.375rem;
  padding-bottom: 150px;
  padding-bottom: 9.375rem; }

.space-m-y-200px {
  margin-top: 200px;
  margin-top: 12.5rem;
  margin-bottom: 200px;
  margin-bottom: 12.5rem; }

.space-p-y-200px {
  padding-top: 200px;
  padding-top: 12.5rem;
  padding-bottom: 200px;
  padding-bottom: 12.5rem; }

.space-m-y-250px {
  margin-top: 250px;
  margin-top: 15.625rem;
  margin-bottom: 250px;
  margin-bottom: 15.625rem; }

.space-p-y-250px {
  padding-top: 250px;
  padding-top: 15.625rem;
  padding-bottom: 250px;
  padding-bottom: 15.625rem; }

.space-m-y-300px {
  margin-top: 300px;
  margin-top: 18.75rem;
  margin-bottom: 300px;
  margin-bottom: 18.75rem; }

.space-p-y-300px {
  padding-top: 300px;
  padding-top: 18.75rem;
  padding-bottom: 300px;
  padding-bottom: 18.75rem; }

.space-m-y-400px {
  margin-top: 400px;
  margin-top: 25rem;
  margin-bottom: 400px;
  margin-bottom: 25rem; }

.space-p-y-400px {
  padding-top: 400px;
  padding-top: 25rem;
  padding-bottom: 400px;
  padding-bottom: 25rem; }

.space-m-y-500px {
  margin-top: 500px;
  margin-top: 31.25rem;
  margin-bottom: 500px;
  margin-bottom: 31.25rem; }

.space-p-y-500px {
  padding-top: 500px;
  padding-top: 31.25rem;
  padding-bottom: 500px;
  padding-bottom: 31.25rem; }

.space-m-x-0px {
  margin-left: 0px;
  margin-left: 0rem;
  margin-right: 0px;
  margin-right: 0rem; }

.space-p-x-0px {
  padding-left: 0px;
  padding-left: 0rem;
  padding-right: 0px;
  padding-right: 0rem; }

.space-m-x-1px {
  margin-left: 1px;
  margin-left: 0.0625rem;
  margin-right: 1px;
  margin-right: 0.0625rem; }

.space-p-x-1px {
  padding-left: 1px;
  padding-left: 0.0625rem;
  padding-right: 1px;
  padding-right: 0.0625rem; }

.space-m-x-2px {
  margin-left: 2px;
  margin-left: 0.125rem;
  margin-right: 2px;
  margin-right: 0.125rem; }

.space-p-x-2px {
  padding-left: 2px;
  padding-left: 0.125rem;
  padding-right: 2px;
  padding-right: 0.125rem; }

.space-m-x-3px {
  margin-left: 3px;
  margin-left: 0.1875rem;
  margin-right: 3px;
  margin-right: 0.1875rem; }

.space-p-x-3px {
  padding-left: 3px;
  padding-left: 0.1875rem;
  padding-right: 3px;
  padding-right: 0.1875rem; }

.space-m-x-4px {
  margin-left: 4px;
  margin-left: 0.25rem;
  margin-right: 4px;
  margin-right: 0.25rem; }

.space-p-x-4px {
  padding-left: 4px;
  padding-left: 0.25rem;
  padding-right: 4px;
  padding-right: 0.25rem; }

.space-m-x-5px {
  margin-left: 5px;
  margin-left: 0.3125rem;
  margin-right: 5px;
  margin-right: 0.3125rem; }

.space-p-x-5px {
  padding-left: 5px;
  padding-left: 0.3125rem;
  padding-right: 5px;
  padding-right: 0.3125rem; }

.space-m-x-6px {
  margin-left: 6px;
  margin-left: 0.375rem;
  margin-right: 6px;
  margin-right: 0.375rem; }

.space-p-x-6px {
  padding-left: 6px;
  padding-left: 0.375rem;
  padding-right: 6px;
  padding-right: 0.375rem; }

.space-m-x-8px {
  margin-left: 8px;
  margin-left: 0.5rem;
  margin-right: 8px;
  margin-right: 0.5rem; }

.space-p-x-8px {
  padding-left: 8px;
  padding-left: 0.5rem;
  padding-right: 8px;
  padding-right: 0.5rem; }

.space-m-x-10px {
  margin-left: 10px;
  margin-left: 0.625rem;
  margin-right: 10px;
  margin-right: 0.625rem; }

.space-p-x-10px {
  padding-left: 10px;
  padding-left: 0.625rem;
  padding-right: 10px;
  padding-right: 0.625rem; }

.space-m-x-15px {
  margin-left: 15px;
  margin-left: 0.9375rem;
  margin-right: 15px;
  margin-right: 0.9375rem; }

.space-p-x-15px {
  padding-left: 15px;
  padding-left: 0.9375rem;
  padding-right: 15px;
  padding-right: 0.9375rem; }

.space-m-x-20px {
  margin-left: 20px;
  margin-left: 1.25rem;
  margin-right: 20px;
  margin-right: 1.25rem; }

.space-p-x-20px {
  padding-left: 20px;
  padding-left: 1.25rem;
  padding-right: 20px;
  padding-right: 1.25rem; }

.space-m-x-25px {
  margin-left: 25px;
  margin-left: 1.5625rem;
  margin-right: 25px;
  margin-right: 1.5625rem; }

.space-p-x-25px {
  padding-left: 25px;
  padding-left: 1.5625rem;
  padding-right: 25px;
  padding-right: 1.5625rem; }

.space-m-x-30px {
  margin-left: 30px;
  margin-left: 1.875rem;
  margin-right: 30px;
  margin-right: 1.875rem; }

.space-p-x-30px {
  padding-left: 30px;
  padding-left: 1.875rem;
  padding-right: 30px;
  padding-right: 1.875rem; }

.space-m-x-35px {
  margin-left: 35px;
  margin-left: 2.1875rem;
  margin-right: 35px;
  margin-right: 2.1875rem; }

.space-p-x-35px {
  padding-left: 35px;
  padding-left: 2.1875rem;
  padding-right: 35px;
  padding-right: 2.1875rem; }

.space-m-x-40px {
  margin-left: 40px;
  margin-left: 2.5rem;
  margin-right: 40px;
  margin-right: 2.5rem; }

.space-p-x-40px {
  padding-left: 40px;
  padding-left: 2.5rem;
  padding-right: 40px;
  padding-right: 2.5rem; }

.space-m-x-45px {
  margin-left: 45px;
  margin-left: 2.8125rem;
  margin-right: 45px;
  margin-right: 2.8125rem; }

.space-p-x-45px {
  padding-left: 45px;
  padding-left: 2.8125rem;
  padding-right: 45px;
  padding-right: 2.8125rem; }

.space-m-x-50px {
  margin-left: 50px;
  margin-left: 3.125rem;
  margin-right: 50px;
  margin-right: 3.125rem; }

.space-p-x-50px {
  padding-left: 50px;
  padding-left: 3.125rem;
  padding-right: 50px;
  padding-right: 3.125rem; }

.space-m-x-60px {
  margin-left: 60px;
  margin-left: 3.75rem;
  margin-right: 60px;
  margin-right: 3.75rem; }

.space-p-x-60px {
  padding-left: 60px;
  padding-left: 3.75rem;
  padding-right: 60px;
  padding-right: 3.75rem; }

.space-m-x-100px {
  margin-left: 100px;
  margin-left: 6.25rem;
  margin-right: 100px;
  margin-right: 6.25rem; }

.space-p-x-100px {
  padding-left: 100px;
  padding-left: 6.25rem;
  padding-right: 100px;
  padding-right: 6.25rem; }

.space-m-x-150px {
  margin-left: 150px;
  margin-left: 9.375rem;
  margin-right: 150px;
  margin-right: 9.375rem; }

.space-p-x-150px {
  padding-left: 150px;
  padding-left: 9.375rem;
  padding-right: 150px;
  padding-right: 9.375rem; }

.space-m-x-200px {
  margin-left: 200px;
  margin-left: 12.5rem;
  margin-right: 200px;
  margin-right: 12.5rem; }

.space-p-x-200px {
  padding-left: 200px;
  padding-left: 12.5rem;
  padding-right: 200px;
  padding-right: 12.5rem; }

.space-m-x-250px {
  margin-left: 250px;
  margin-left: 15.625rem;
  margin-right: 250px;
  margin-right: 15.625rem; }

.space-p-x-250px {
  padding-left: 250px;
  padding-left: 15.625rem;
  padding-right: 250px;
  padding-right: 15.625rem; }

.space-m-x-300px {
  margin-left: 300px;
  margin-left: 18.75rem;
  margin-right: 300px;
  margin-right: 18.75rem; }

.space-p-x-300px {
  padding-left: 300px;
  padding-left: 18.75rem;
  padding-right: 300px;
  padding-right: 18.75rem; }

.space-m-x-400px {
  margin-left: 400px;
  margin-left: 25rem;
  margin-right: 400px;
  margin-right: 25rem; }

.space-p-x-400px {
  padding-left: 400px;
  padding-left: 25rem;
  padding-right: 400px;
  padding-right: 25rem; }

.space-m-x-500px {
  margin-left: 500px;
  margin-left: 31.25rem;
  margin-right: 500px;
  margin-right: 31.25rem; }

.space-p-x-500px {
  padding-left: 500px;
  padding-left: 31.25rem;
  padding-right: 500px;
  padding-right: 31.25rem; }

.space-m-top-0px {
  margin-top: 0px;
  margin-top: 0rem; }

.space-p-top-0px {
  padding-top: 0px;
  padding-top: 0rem; }

.space-m-top-1px {
  margin-top: 1px;
  margin-top: 0.0625rem; }

.space-p-top-1px {
  padding-top: 1px;
  padding-top: 0.0625rem; }

.space-m-top-2px {
  margin-top: 2px;
  margin-top: 0.125rem; }

.space-p-top-2px {
  padding-top: 2px;
  padding-top: 0.125rem; }

.space-m-top-3px {
  margin-top: 3px;
  margin-top: 0.1875rem; }

.space-p-top-3px {
  padding-top: 3px;
  padding-top: 0.1875rem; }

.space-m-top-4px {
  margin-top: 4px;
  margin-top: 0.25rem; }

.space-p-top-4px {
  padding-top: 4px;
  padding-top: 0.25rem; }

.space-m-top-5px {
  margin-top: 5px;
  margin-top: 0.3125rem; }

.space-p-top-5px {
  padding-top: 5px;
  padding-top: 0.3125rem; }

.space-m-top-6px {
  margin-top: 6px;
  margin-top: 0.375rem; }

.space-p-top-6px {
  padding-top: 6px;
  padding-top: 0.375rem; }

.space-m-top-8px {
  margin-top: 8px;
  margin-top: 0.5rem; }

.space-p-top-8px {
  padding-top: 8px;
  padding-top: 0.5rem; }

.space-m-top-10px {
  margin-top: 10px;
  margin-top: 0.625rem; }

.space-p-top-10px {
  padding-top: 10px;
  padding-top: 0.625rem; }

.space-m-top-15px {
  margin-top: 15px;
  margin-top: 0.9375rem; }

.space-p-top-15px {
  padding-top: 15px;
  padding-top: 0.9375rem; }

.space-m-top-20px {
  margin-top: 20px;
  margin-top: 1.25rem; }

.space-p-top-20px {
  padding-top: 20px;
  padding-top: 1.25rem; }

.space-m-top-25px {
  margin-top: 25px;
  margin-top: 1.5625rem; }

.space-p-top-25px {
  padding-top: 25px;
  padding-top: 1.5625rem; }

.space-m-top-30px {
  margin-top: 30px;
  margin-top: 1.875rem; }

.space-p-top-30px {
  padding-top: 30px;
  padding-top: 1.875rem; }

.space-m-top-35px {
  margin-top: 35px;
  margin-top: 2.1875rem; }

.space-p-top-35px {
  padding-top: 35px;
  padding-top: 2.1875rem; }

.space-m-top-40px {
  margin-top: 40px;
  margin-top: 2.5rem; }

.space-p-top-40px {
  padding-top: 40px;
  padding-top: 2.5rem; }

.space-m-top-45px {
  margin-top: 45px;
  margin-top: 2.8125rem; }

.space-p-top-45px {
  padding-top: 45px;
  padding-top: 2.8125rem; }

.space-m-top-50px {
  margin-top: 50px;
  margin-top: 3.125rem; }

.space-p-top-50px {
  padding-top: 50px;
  padding-top: 3.125rem; }

.space-m-top-60px {
  margin-top: 60px;
  margin-top: 3.75rem; }

.space-p-top-60px {
  padding-top: 60px;
  padding-top: 3.75rem; }

.space-m-top-100px {
  margin-top: 100px;
  margin-top: 6.25rem; }

.space-p-top-100px {
  padding-top: 100px;
  padding-top: 6.25rem; }

.space-m-top-150px {
  margin-top: 150px;
  margin-top: 9.375rem; }

.space-p-top-150px {
  padding-top: 150px;
  padding-top: 9.375rem; }

.space-m-top-200px {
  margin-top: 200px;
  margin-top: 12.5rem; }

.space-p-top-200px {
  padding-top: 200px;
  padding-top: 12.5rem; }

.space-m-top-250px {
  margin-top: 250px;
  margin-top: 15.625rem; }

.space-p-top-250px {
  padding-top: 250px;
  padding-top: 15.625rem; }

.space-m-top-300px {
  margin-top: 300px;
  margin-top: 18.75rem; }

.space-p-top-300px {
  padding-top: 300px;
  padding-top: 18.75rem; }

.space-m-top-400px {
  margin-top: 400px;
  margin-top: 25rem; }

.space-p-top-400px {
  padding-top: 400px;
  padding-top: 25rem; }

.space-m-top-500px {
  margin-top: 500px;
  margin-top: 31.25rem; }

.space-p-top-500px {
  padding-top: 500px;
  padding-top: 31.25rem; }

.space-m-bottom-0px {
  margin-bottom: 0px;
  margin-bottom: 0rem; }

.space-p-bottom-0px {
  padding-bottom: 0px;
  padding-bottom: 0rem; }

.space-m-bottom-1px {
  margin-bottom: 1px;
  margin-bottom: 0.0625rem; }

.space-p-bottom-1px {
  padding-bottom: 1px;
  padding-bottom: 0.0625rem; }

.space-m-bottom-2px {
  margin-bottom: 2px;
  margin-bottom: 0.125rem; }

.space-p-bottom-2px {
  padding-bottom: 2px;
  padding-bottom: 0.125rem; }

.space-m-bottom-3px {
  margin-bottom: 3px;
  margin-bottom: 0.1875rem; }

.space-p-bottom-3px {
  padding-bottom: 3px;
  padding-bottom: 0.1875rem; }

.space-m-bottom-4px {
  margin-bottom: 4px;
  margin-bottom: 0.25rem; }

.space-p-bottom-4px {
  padding-bottom: 4px;
  padding-bottom: 0.25rem; }

.space-m-bottom-5px {
  margin-bottom: 5px;
  margin-bottom: 0.3125rem; }

.space-p-bottom-5px {
  padding-bottom: 5px;
  padding-bottom: 0.3125rem; }

.space-m-bottom-6px {
  margin-bottom: 6px;
  margin-bottom: 0.375rem; }

.space-p-bottom-6px {
  padding-bottom: 6px;
  padding-bottom: 0.375rem; }

.space-m-bottom-8px {
  margin-bottom: 8px;
  margin-bottom: 0.5rem; }

.space-p-bottom-8px {
  padding-bottom: 8px;
  padding-bottom: 0.5rem; }

.space-m-bottom-10px {
  margin-bottom: 10px;
  margin-bottom: 0.625rem; }

.space-p-bottom-10px {
  padding-bottom: 10px;
  padding-bottom: 0.625rem; }

.space-m-bottom-15px {
  margin-bottom: 15px;
  margin-bottom: 0.9375rem; }

.space-p-bottom-15px {
  padding-bottom: 15px;
  padding-bottom: 0.9375rem; }

.space-m-bottom-20px {
  margin-bottom: 20px;
  margin-bottom: 1.25rem; }

.space-p-bottom-20px {
  padding-bottom: 20px;
  padding-bottom: 1.25rem; }

.space-m-bottom-25px {
  margin-bottom: 25px;
  margin-bottom: 1.5625rem; }

.space-p-bottom-25px {
  padding-bottom: 25px;
  padding-bottom: 1.5625rem; }

.space-m-bottom-30px {
  margin-bottom: 30px;
  margin-bottom: 1.875rem; }

.space-p-bottom-30px {
  padding-bottom: 30px;
  padding-bottom: 1.875rem; }

.space-m-bottom-35px {
  margin-bottom: 35px;
  margin-bottom: 2.1875rem; }

.space-p-bottom-35px {
  padding-bottom: 35px;
  padding-bottom: 2.1875rem; }

.space-m-bottom-40px {
  margin-bottom: 40px;
  margin-bottom: 2.5rem; }

.space-p-bottom-40px {
  padding-bottom: 40px;
  padding-bottom: 2.5rem; }

.space-m-bottom-45px {
  margin-bottom: 45px;
  margin-bottom: 2.8125rem; }

.space-p-bottom-45px {
  padding-bottom: 45px;
  padding-bottom: 2.8125rem; }

.space-m-bottom-50px {
  margin-bottom: 50px;
  margin-bottom: 3.125rem; }

.space-p-bottom-50px {
  padding-bottom: 50px;
  padding-bottom: 3.125rem; }

.space-m-bottom-60px {
  margin-bottom: 60px;
  margin-bottom: 3.75rem; }

.space-p-bottom-60px {
  padding-bottom: 60px;
  padding-bottom: 3.75rem; }

.space-m-bottom-100px {
  margin-bottom: 100px;
  margin-bottom: 6.25rem; }

.space-p-bottom-100px {
  padding-bottom: 100px;
  padding-bottom: 6.25rem; }

.space-m-bottom-150px {
  margin-bottom: 150px;
  margin-bottom: 9.375rem; }

.space-p-bottom-150px {
  padding-bottom: 150px;
  padding-bottom: 9.375rem; }

.space-m-bottom-200px {
  margin-bottom: 200px;
  margin-bottom: 12.5rem; }

.space-p-bottom-200px {
  padding-bottom: 200px;
  padding-bottom: 12.5rem; }

.space-m-bottom-250px {
  margin-bottom: 250px;
  margin-bottom: 15.625rem; }

.space-p-bottom-250px {
  padding-bottom: 250px;
  padding-bottom: 15.625rem; }

.space-m-bottom-300px {
  margin-bottom: 300px;
  margin-bottom: 18.75rem; }

.space-p-bottom-300px {
  padding-bottom: 300px;
  padding-bottom: 18.75rem; }

.space-m-bottom-400px {
  margin-bottom: 400px;
  margin-bottom: 25rem; }

.space-p-bottom-400px {
  padding-bottom: 400px;
  padding-bottom: 25rem; }

.space-m-bottom-500px {
  margin-bottom: 500px;
  margin-bottom: 31.25rem; }

.space-p-bottom-500px {
  padding-bottom: 500px;
  padding-bottom: 31.25rem; }

.space-m-left-0px {
  margin-left: 0px;
  margin-left: 0rem; }

.space-p-left-0px {
  padding-left: 0px;
  padding-left: 0rem; }

.space-m-left-1px {
  margin-left: 1px;
  margin-left: 0.0625rem; }

.space-p-left-1px {
  padding-left: 1px;
  padding-left: 0.0625rem; }

.space-m-left-2px {
  margin-left: 2px;
  margin-left: 0.125rem; }

.space-p-left-2px {
  padding-left: 2px;
  padding-left: 0.125rem; }

.space-m-left-3px {
  margin-left: 3px;
  margin-left: 0.1875rem; }

.space-p-left-3px {
  padding-left: 3px;
  padding-left: 0.1875rem; }

.space-m-left-4px {
  margin-left: 4px;
  margin-left: 0.25rem; }

.space-p-left-4px {
  padding-left: 4px;
  padding-left: 0.25rem; }

.space-m-left-5px {
  margin-left: 5px;
  margin-left: 0.3125rem; }

.space-p-left-5px {
  padding-left: 5px;
  padding-left: 0.3125rem; }

.space-m-left-6px {
  margin-left: 6px;
  margin-left: 0.375rem; }

.space-p-left-6px {
  padding-left: 6px;
  padding-left: 0.375rem; }

.space-m-left-8px {
  margin-left: 8px;
  margin-left: 0.5rem; }

.space-p-left-8px {
  padding-left: 8px;
  padding-left: 0.5rem; }

.space-m-left-10px {
  margin-left: 10px;
  margin-left: 0.625rem; }

.space-p-left-10px {
  padding-left: 10px;
  padding-left: 0.625rem; }

.space-m-left-15px {
  margin-left: 15px;
  margin-left: 0.9375rem; }

.space-p-left-15px {
  padding-left: 15px;
  padding-left: 0.9375rem; }

.space-m-left-20px {
  margin-left: 20px;
  margin-left: 1.25rem; }

.space-p-left-20px {
  padding-left: 20px;
  padding-left: 1.25rem; }

.space-m-left-25px {
  margin-left: 25px;
  margin-left: 1.5625rem; }

.space-p-left-25px {
  padding-left: 25px;
  padding-left: 1.5625rem; }

.space-m-left-30px {
  margin-left: 30px;
  margin-left: 1.875rem; }

.space-p-left-30px {
  padding-left: 30px;
  padding-left: 1.875rem; }

.space-m-left-35px {
  margin-left: 35px;
  margin-left: 2.1875rem; }

.space-p-left-35px {
  padding-left: 35px;
  padding-left: 2.1875rem; }

.space-m-left-40px {
  margin-left: 40px;
  margin-left: 2.5rem; }

.space-p-left-40px {
  padding-left: 40px;
  padding-left: 2.5rem; }

.space-m-left-45px {
  margin-left: 45px;
  margin-left: 2.8125rem; }

.space-p-left-45px {
  padding-left: 45px;
  padding-left: 2.8125rem; }

.space-m-left-50px {
  margin-left: 50px;
  margin-left: 3.125rem; }

.space-p-left-50px {
  padding-left: 50px;
  padding-left: 3.125rem; }

.space-m-left-60px {
  margin-left: 60px;
  margin-left: 3.75rem; }

.space-p-left-60px {
  padding-left: 60px;
  padding-left: 3.75rem; }

.space-m-left-100px {
  margin-left: 100px;
  margin-left: 6.25rem; }

.space-p-left-100px {
  padding-left: 100px;
  padding-left: 6.25rem; }

.space-m-left-150px {
  margin-left: 150px;
  margin-left: 9.375rem; }

.space-p-left-150px {
  padding-left: 150px;
  padding-left: 9.375rem; }

.space-m-left-200px {
  margin-left: 200px;
  margin-left: 12.5rem; }

.space-p-left-200px {
  padding-left: 200px;
  padding-left: 12.5rem; }

.space-m-left-250px {
  margin-left: 250px;
  margin-left: 15.625rem; }

.space-p-left-250px {
  padding-left: 250px;
  padding-left: 15.625rem; }

.space-m-left-300px {
  margin-left: 300px;
  margin-left: 18.75rem; }

.space-p-left-300px {
  padding-left: 300px;
  padding-left: 18.75rem; }

.space-m-left-400px {
  margin-left: 400px;
  margin-left: 25rem; }

.space-p-left-400px {
  padding-left: 400px;
  padding-left: 25rem; }

.space-m-left-500px {
  margin-left: 500px;
  margin-left: 31.25rem; }

.space-p-left-500px {
  padding-left: 500px;
  padding-left: 31.25rem; }

.space-m-right-0px {
  margin-right: 0px;
  margin-right: 0rem; }

.space-p-right-0px {
  padding-right: 0px;
  padding-right: 0rem; }

.space-m-right-1px {
  margin-right: 1px;
  margin-right: 0.0625rem; }

.space-p-right-1px {
  padding-right: 1px;
  padding-right: 0.0625rem; }

.space-m-right-2px {
  margin-right: 2px;
  margin-right: 0.125rem; }

.space-p-right-2px {
  padding-right: 2px;
  padding-right: 0.125rem; }

.space-m-right-3px {
  margin-right: 3px;
  margin-right: 0.1875rem; }

.space-p-right-3px {
  padding-right: 3px;
  padding-right: 0.1875rem; }

.space-m-right-4px {
  margin-right: 4px;
  margin-right: 0.25rem; }

.space-p-right-4px {
  padding-right: 4px;
  padding-right: 0.25rem; }

.space-m-right-5px {
  margin-right: 5px;
  margin-right: 0.3125rem; }

.space-p-right-5px {
  padding-right: 5px;
  padding-right: 0.3125rem; }

.space-m-right-6px {
  margin-right: 6px;
  margin-right: 0.375rem; }

.space-p-right-6px {
  padding-right: 6px;
  padding-right: 0.375rem; }

.space-m-right-8px {
  margin-right: 8px;
  margin-right: 0.5rem; }

.space-p-right-8px {
  padding-right: 8px;
  padding-right: 0.5rem; }

.space-m-right-10px {
  margin-right: 10px;
  margin-right: 0.625rem; }

.space-p-right-10px {
  padding-right: 10px;
  padding-right: 0.625rem; }

.space-m-right-15px {
  margin-right: 15px;
  margin-right: 0.9375rem; }

.space-p-right-15px {
  padding-right: 15px;
  padding-right: 0.9375rem; }

.space-m-right-20px {
  margin-right: 20px;
  margin-right: 1.25rem; }

.space-p-right-20px {
  padding-right: 20px;
  padding-right: 1.25rem; }

.space-m-right-25px {
  margin-right: 25px;
  margin-right: 1.5625rem; }

.space-p-right-25px {
  padding-right: 25px;
  padding-right: 1.5625rem; }

.space-m-right-30px {
  margin-right: 30px;
  margin-right: 1.875rem; }

.space-p-right-30px {
  padding-right: 30px;
  padding-right: 1.875rem; }

.space-m-right-35px {
  margin-right: 35px;
  margin-right: 2.1875rem; }

.space-p-right-35px {
  padding-right: 35px;
  padding-right: 2.1875rem; }

.space-m-right-40px {
  margin-right: 40px;
  margin-right: 2.5rem; }

.space-p-right-40px {
  padding-right: 40px;
  padding-right: 2.5rem; }

.space-m-right-45px {
  margin-right: 45px;
  margin-right: 2.8125rem; }

.space-p-right-45px {
  padding-right: 45px;
  padding-right: 2.8125rem; }

.space-m-right-50px {
  margin-right: 50px;
  margin-right: 3.125rem; }

.space-p-right-50px {
  padding-right: 50px;
  padding-right: 3.125rem; }

.space-m-right-60px {
  margin-right: 60px;
  margin-right: 3.75rem; }

.space-p-right-60px {
  padding-right: 60px;
  padding-right: 3.75rem; }

.space-m-right-100px {
  margin-right: 100px;
  margin-right: 6.25rem; }

.space-p-right-100px {
  padding-right: 100px;
  padding-right: 6.25rem; }

.space-m-right-150px {
  margin-right: 150px;
  margin-right: 9.375rem; }

.space-p-right-150px {
  padding-right: 150px;
  padding-right: 9.375rem; }

.space-m-right-200px {
  margin-right: 200px;
  margin-right: 12.5rem; }

.space-p-right-200px {
  padding-right: 200px;
  padding-right: 12.5rem; }

.space-m-right-250px {
  margin-right: 250px;
  margin-right: 15.625rem; }

.space-p-right-250px {
  padding-right: 250px;
  padding-right: 15.625rem; }

.space-m-right-300px {
  margin-right: 300px;
  margin-right: 18.75rem; }

.space-p-right-300px {
  padding-right: 300px;
  padding-right: 18.75rem; }

.space-m-right-400px {
  margin-right: 400px;
  margin-right: 25rem; }

.space-p-right-400px {
  padding-right: 400px;
  padding-right: 25rem; }

.space-m-right-500px {
  margin-right: 500px;
  margin-right: 31.25rem; }

.space-p-right-500px {
  padding-right: 500px;
  padding-right: 31.25rem; }

.jumbotron {
  background: url("../images/image-jam.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  @media (min-width: 768px) {
    .jumbotron {
      padding-top: 0; } }
  .jumbotron h1 {
    font-family: "AvenirNext-bold", "Arial", Helvetica, sans-serif;
    font-size: 35px !important;
    margin-top: 100px;
    color: white; }
  .jumbotron h2 {
    font-family: "AvenirNext-bold", "Arial", Helvetica, sans-serif;
    font-size: 22px;
    color: #cccccc;
    text-transform: uppercase;
    margin-bottom: 50px; }
  .jumbotron p {
    color: white; }
  .jumbotron p.subtitle {
    font-size: 16px; }

/*Only Desktop*/
@media (min-width: 768px) {
  .jumbotron nav.navbar-default {
    background-color: transparent !important;
    border-color: transparent;
    position: relative; } }

nav.navbar-default {
  background-color: #f08e0d; }
  nav.navbar-default ul li a {
    color: white !important; }
    nav.navbar-default ul li a:hover {
      background-color: transparent;
      text-decoration: underline; }
  nav.navbar-default ul li.active a {
    background-color: #df840c !important; }
  nav.navbar-default .navbar-toggle .icon-bar {
    background-color: white; }
  nav.navbar-default .navbar-toggle:hover, nav.navbar-default .navbar-toggle:focus {
    background-color: #df840c !important; }

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%; }

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f08e0d;
  color: white;
  padding: 0px 0px; }
  @media (max-width: 992px) {
    .footer {
      padding: 5px 0px; }
      .footer .nav > li > a {
        padding: 5px 15px; } }
  .footer > div.container {
    min-height: 60px; }
    .footer > div.container > .row {
      min-height: 60px; }
      .footer > div.container > .row .copyright {
        padding-top: 20px; }
  .footer a {
    color: white; }
    .footer a:hover {
      background-color: transparent; }
  .footer ul.nav li {
    float: right; }
    .footer ul.nav li a {
      height: 60px;
      padding-top: 20px; }
      .footer ul.nav li a:hover {
        text-decoration: underline;
        background-color: transparent; }
      .footer ul.nav li a:focus {
        background-color: #df840c !important; }
    .footer ul.nav li.active a {
      background-color: #df840c !important; }

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
body > .container {
  padding: 26px 15px 0; }

.container .text-muted {
  margin: 20px 0; }

.footer > .container {
  padding-right: 15px;
  padding-left: 15px; }

code {
  font-size: 80%; }

#main {
  margin-top: 50px; }

.form-horizontal .control-label {
  text-align: left; }

/*Jevents admin interface - core file can't be overridden*/
/*
.adminform{
    margin-top: 20px;
}
.jevents{
    form{
        .adminform{
            .tab-content{
                margin-top: 20px;
            }
        }
    }
}*/
/*Jevents detail view*/
#jevents_header h2 {
  display: none; }

#jevents_header ul.actions li a {
  font-size: 20px;
  color: #f08e0d;
  margin-left: 10px; }
  #jevents_header ul.actions li a:hover {
    color: #333; }

#jevents_body {
  border: none;
  background-color: transparent; }
  #jevents_body .new-navigation {
    display: none; }
  #jevents_body .jev_evdt_header .jev_evdt_title {
    font-size: 30px;
    font-family: "AvenirNext-bold", "Arial", Helvetica, sans-serif;
    color: #f08e0d; }
  #jevents_body .jev_eventdetails_body .jev_evdt_desc {
    font-size: 16px; }
  #jevents_body .jev_eventdetails_body .jev_evdt_summary {
    width: 100%; }
    #jevents_body .jev_eventdetails_body .jev_evdt_summary > div {
      padding-bottom: 5px;
      font-size: 15px; }
    #jevents_body .jev_eventdetails_body .jev_evdt_summary .category {
      margin-top: 10px; }
    #jevents_body .jev_eventdetails_body .jev_evdt_summary .dates {
      margin-bottom: 20px; }
      #jevents_body .jev_eventdetails_body .jev_evdt_summary .dates .smalldate {
        font-size: 12px;
        color: #90949c; }
    #jevents_body .jev_eventdetails_body .jev_evdt_summary .teachers {
      margin-top: 5px; }
      #jevents_body .jev_eventdetails_body .jev_evdt_summary .teachers .jevpeople_entries span {
        background-color: #f2f2f2;
        margin-right: 10px;
        padding: 2px 10px 2px 10px; }
    #jevents_body .jev_eventdetails_body .jev_evdt_summary .organizer .jevpeople_entries span {
      background-color: #f2f2f2;
      margin-right: 10px;
      padding: 2px 10px 2px 10px; }
  #jevents_body .jevpeople_entries {
    display: inline-block; }
  #jevents_body .jev_evdt_location .map {
    margin-top: 20px; }

/* JEVENTS FIX TOOLTIP DISAPPEAR */
.jevpeople .hasPopover {
  display: inline-block !important; }

.jevpeople-toolbar #toolbar .btn-wrapper {
  display: inline-block;
  margin-right: 5px; }

/*margins of the edit interface of JEV_locations*/
.col.jevbootstrap table tr td {
  padding-bottom: 10px; }

/*table of jevlocation*/
.jevlocations a:link, .jevlocations a:visited {
  color: #337ab7 !important;
  font-family: "AvenirNext", "Arial", Helvetica, sans-serif;
  font-size: 12px; }

.jevlocations table.adminlist thead th {
  background-color: white; }

.jevlocations table.adminlist tbody tr.row1 td {
  background-color: white; }

.jevlocations table.adminlist tbody tr td {
  background-color: #f9f9f9; }

/* margin of the edit interface of JEV_persons*/
.jevpeople .col table.admintable tr td {
  padding-bottom: 10px; }
  .jevpeople .col table.admintable tr td.key {
    padding-right: 20px; }

.jevpeople .admintable label {
  display: inline-block; }

.jevpeople .checkbox, .jevpeople .radio {
  margin-top: 0;
  margin-bottom: 0; }

/*label.radio.btn{
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}*/
