
.contactEvents{
	    min-height: 100%;
    	//background: url(../images/image-jam.jpg) no-repeat center center fixed;
		//background-image: url(../images/image-jam.jpg);

		background-color: gray;
		background-repeat: no-repeat;
    	background-attachment: fixed;
    	background-position: center center;
	    background-size: cover;

	    transition: background-image 0.5s ease-in-out;	

	    margin-bottom: 0!important;

	.bg-overlay{
	    background: #282c37;
	    opacity: .6;
	    width: 100%;
	    position: fixed;
	    left: 0;
	    top: 0;
	    height: 100%;
	    z-index: 2;
	}

	&>div{
		position: relative;
		z-index: 3;
	}

	.eventFormContainer{
		/*background-image: 		url("../images/image-jam.jpg");
	    background-position: 	center top;
	    background-repeat: 		no-repeat;
		background-color: 		transparent;

		background-color: 		transparent;
		margin-bottom: 30px;*/
		
		input{
			color: #333;
		}

	    .eventFormTitle{
	    	text-align: center;
	    	h1 {
			    font-family: AvenirNext-bold,Arial,Helvetica,sans-serif;
			    font-size: 35px!important;
			    margin-top: 100px;
			    color: #fff;
			}
			h2 {
			    font-family: AvenirNext-bold,Arial,Helvetica,sans-serif;
			    font-size: 22px;
			    color: #ccc;
			    text-transform: uppercase;
			    margin-bottom: 18px;
			}
			p{
				&.subtitle{
					color: #fff;
					margin-bottom: 15px;
	    			font-weight: 200;
	        		font-size: 16px;
				}
				&.searchHere{
					color: #fff;
    				font-size: 16px;
    				margin-top: 3.5rem;
				}

				
			}
	    }

	}

	.eventForm{
		.title{
			font-size: 18px;
		}
		.input-append.date input{
			/*width: 				90px;*/
			padding-left: 		5px;
		}
		.whereDetails {
			.title{
				color: white;
				font-weight: bold;
			}
			.date {
				.control-label{
					color: white;
					font-weight: bold;
				}
			}
			select, input{
				width: 100%;
			}
			.form-actions{
				padding-top: 40px;

				button{
					&.searchButton{
						background-color: white;
						color: black;
						width: 140px;
						border: none;
					}
					&.removeFilterButton{
						border: 2px solid white;
						background-color: transparent;
						width: 140px;
						color: white;
					}
				}
			}
		}

	}

	.dataArea{
		margin-top: 50px;
		margin-bottom: 20px;
		.map{
			height: 400px;
		}
		.row {
			> div{
				padding-top: 5px;
			}
			&.odd {
				background-color: 	#f0f3f5;
			}
			&.even {
				background-color: 	white;
			}
		}
		.date{
			color: white;
			padding-left: 0;
			padding-right: 0;
			padding-top: 0px!important;
			padding-bottom: 0px!important;
			/*padding: 0 5px;*/
			.col-xs-6{
				padding: 0;
			}

			.date_start, .date_end{
				background-color: #c0c0c0;
				text-align: center;
				font-weight: bold;
				text-transform: uppercase;
				margin-top: 3px;
				cursor: crosshair;
			}

			.year0{
				background-color: #898b7c;
			}
			.year1{
				background-color: #bcbfac;
			}
			.year2{
				background-color: #c0c0c0;
			}

			.date_start{
				margin-right: 3px;
				padding-top: 0;
			}
		}
	}



	@media (min-width: 992px) {
		.dataArea .list .row > div{
			min-height: 45px;
			padding-top: 0px;
		}
	}








	/*only Mobile*/
	@media (min-width: 992px) {
		.dataArea .date .date_start{
			margin-left: 3px;
		}
		.dataArea .date .dateDesktop{
			display: block!important;
		}
		.dataArea .date .dateMobile{
			display: none;
		}
	}

	/*Only Desktop*/
	@media (max-width: 992px) {
		.dataArea .row{
			padding-bottom: 10px;
		}
	}

	.input-append.date .add-on i, .input-prepend.date .add-on i{
		color: white;
	}

	.select2-container--default .select2-selection--single .select2-selection__rendered{
		/*color: orange;*/
	}
}
