
/*body.homepage .navbar-default.transparent-header-menu-hp .navbar-collapse ul.navbar-nav li a{
	background-color: red;
}*/
body.homepage .lifeHeaderMenu .navbar-default.transparent-header-menu-hp .navbar-collapse ul.navbar-nav li a:hover{
	background-color: #AAA!important;
	color: white!important;
}
body.homepage .lifeHeaderMenu .navbar-default.transparent-header-menu-hp .navbar-collapse ul.navbar-nav li ul.dropdown-menu li {
	background-color: #ccc!important;
}
.lifeHeaderMenu .navbar-default ul>li ul.dropdown-menu{
	width: auto!important;
}
@media (min-width: 769px){
	.navbar-nav>li>a {
    	padding-top: 16px;
    	padding-bottom: 16px;
	}
}