<div class="jevloc-bloglayout-image">{{Location Image:JEVLOCATION_IMAGE}}</div>
<h3>{{Location Title:JEVLOCATION_TITLE}}</h3>
<div class="jevloc-field"><strong>Country:</strong> {{Location Country:JEVLOCATION_COUNTRY}}</div>
<div class="jevloc-field"><strong>State/Province:</strong> {{Location State:JEVLOCATION_STATE}}</div>
<div class="jevloc-field"><strong>City:</strong> {{Location City:JEVLOCATION_CITY}}</div>
<div class="jevloc-field">{{Upcoming Events:JEVLOC_UPCOMING}}</div>