/* Sticky footer CSS */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 40px;
}

.paddingBalanceForStickyFooter{
    display: block;
    width: 100%;
    height: 40px;
}

footer{
	&.stickyFooter{
		position: fixed;
	    z-index: 5;
	    bottom: 0;
	    width: 100%;
	    height: 40px;
	    /*background-color: transparent;*/
	    padding: 0 20px 0 10px;
	    
	    ul{
	    	&.navbar-nav{
				margin: 0!important;

				li{
					a{
						color: #fff;
						padding-top: 12px;

						&:hover{
							background-color: transparent;
							&:before {
							    position: absolute;
							    z-index: -1;
							    background-color: black;
							    opacity: 0.3;
							    left: 0;
							    top: 0;
							    height: 100%;
							    width: 100%;
							    content: '';
							}
						}
					}
					&.active{
						a{
							background-color: transparent!important;
							&:before {
							    position: absolute;
							    z-index: -1;
							    background-color: black;
							    opacity: 0.3;
							    left: 0;
							    top: 0;
							    height: 100%;
							    width: 100%;
							    content: '';
							}
						}
					}
				}
				& > li, .navbar-nav {
					float: left !important;
				}
	    	}
	    	&.navbar-right {
				float: right!important;

				&:last-child {
					margin-right: -15px !important;
				}
			}
			
	    }

		.navbar-collapse.collapse {
			display: block!important;
		}

		.language{
			padding: 10px 10px 0 20px;
			display: inline-block;
    		float: right;
		}

		.text{
			color: #fff;
			padding: 10px;
		}
	}
}
