/* MegaFooter CSS */

footer{
	&.megaFooter {
		margin-bottom: 60px;
		
		&.wrapper{
			display: flex;
			flex-wrap: wrap;
		    width: 100%;
		    background-repeat: no-repeat;
		    background-size: cover;
		    
		    aside{
				flex: 1 0 320px;
	    		padding: 30px;
	    		box-sizing: border-box;

	    		> div{
	    			margin-bottom: 1rem;
	    		}


				.article{
					a{
						color: #FFF;
						&:hover{
	    					 filter: brightness(85%);
	    				}
					}
				}

	    		ul{
	    			margin-top: 8px;
	    			&.menu{
	    				li{
	    					border-bottom: #999 solid 1px;
							margin: 0;
							
							a{
								color: #FFFFFF;
							    height: 70%;
							    padding: 3px 8px;

							    position: relative;
							    z-index: 1;
							    
							    &:hover{
							    	background-color: transparent!important;

									&:before {
									    position: absolute;
									    z-index: -1;
									    background-color: black;
									    opacity: 0.3;
									    left: 0;
									    top: 0;
									    height: 100%;
									    width: 100%;
									    content: '';
									}
								}


							}
	    				}
	    			}
	    		}

	    		.social_media{
	    			margin: 1rem 0;
	    			a{
	    				margin: 0 0.8rem 0 0;
	    				&:hover{
	    					 filter: brightness(85%);
	    				}
	    			}
	    		}
	    		.newsletter{
	    			/*.input-group{
	    				input{
	    					max-width: 16rem;
	    				}
	    			}*/
	    			label{
	    				display: none;
	    			}
	    			input[type=submit] {
						/*display: none;*/
						margin-top: .5rem;

						color: #fff;
					    background: transparent;
					    border: 2px solid #fff;
					    text-decoration: none;
					    min-width: 120px;
					    display: inline-block;
					    margin: 0;
					    font-size: 15px;
					    border-radius: 25px;
					    margin-top: 1rem;
	    			}
	    			input[type=email] {
						width: 100%;
						max-width: 16rem;
						margin-top: 0.4rem;
						border: none;
	    			}
	    		}
		    }
		}
	}
}

