html, body{
	height: 100%;
	min-height:100%;
}
body, h1, h2, h3, h4{
    font-family: $font-family-avenirNext;
}

.item-page{
	h2 {
		font-family: $font-family-avenirNextBold;
		color: #f08e0d;
	}
	font-size: 16px;
	margin-bottom: 40px;
}

.select2-selection__placeholder{
	font-size: 14px;
}
input{
	font-size: 14px;
	padding-left: 5px;
}
button{
	//font-family: $font-family-AvenirNext-bold;
}
.select2-container .select2-selection--single .select2-selection__rendered{
	line-height: 26px!important;
	font-size: 14px;
}
strong, b{
	font-family: $font-family-avenirNextDemi;
}



