@font-face{
    font-family:"AvenirNext";
    src:url($font-path + "/avenir-next-regular.eot?#iefix");
    src:url($font-path + "/avenir-next-regular.eot?#iefix") format("eot"),url($font-path + "/avenir-next-regular.woff") format("woff"),url($font-path + "/avenir-next-regular.ttf") format("truetype"),url($font-path + "/avenir-next-regular.svg#avenir-next-regular") format("svg");
	/*font-weight: normal;
	font-style: normal;*/
}
@font-face{
    font-family:"AvenirNext-bold";
    src:url($font-path + "/avenir-next-bold.eot?#iefix");
    src:url($font-path + "/avenir-next-bold.eot?#iefix") format("eot"),url($font-path + "/avenir-next-bold.woff") format("woff"),url($font-path + "/avenir-next-bold.ttf") format("truetype"),url($font-path + "/avenir-next-bold.svg#avenir-next-bold") format("svg");
}
@font-face{
    font-family:"AvenirNext-italic";
    src:url($font-path + "/avenir-next-italic.eot?#iefix");
    src:url($font-path + "/avenir-next-italic.eot?#iefix") format("eot"),url($font-path + "/avenir-next-italic.woff") format("woff"),url($font-path + "/avenir-next-italic.ttf") format("truetype"),url($font-path + "/avenir-next-italic.svg#avenir-next-italic") format("svg");
}
@font-face{
    font-family:"AvenirNext-thin";
    src:url($font-path + "/avenir-next-thin.eot?#iefix");
    src:url($font-path + "/avenir-next-thin.eot?#iefix") format("eot"),url($font-path + "/avenir-next-thin.woff") format("woff"),url($font-path + "/avenir-next-thin.ttf") format("truetype"),url($font-path + "/avenir-next-thin.svg#avenir-next-thin") format("svg");
}