// Default font-path
$font-path: '../fonts';
$images-path: '../images';

// Fonts
$font-family-avenirNext: "AvenirNext", "Arial", Helvetica, sans-serif;
$font-family-avenirNextBold: "AvenirNext-bold", "Arial", Helvetica, sans-serif;
$font-family-avenirNextItalic: "AvenirNext-italic", "Arial", Helvetica, sans-serif;
$font-family-avenirNextThin: "AvenirNext-thin", "Arial", Helvetica, sans-serif;
$font-family-avenirNextDemi: "AvenirNext-demi", "Arial", Helvetica, sans-serif;


// Colors
$black: #333;
$gray: #90949c;

/*
$gray-dark: #333333 !default;
$gray: #666666 !default;
$gray-bg: #e5e5e5 !default;
$gray-border: #efefef !default;
$gray-light: #999999 !default;
$gray-lighter: #cccccc !default;
$gray-link: #c0c0c0 !default;
$gray-lightest: #f6f6f6 !default;
$grey-medium: #f0f0f0!default;

$blue-dark: #002d88 !default;
$blue: #103184 !default;
$blue-light: #6fb5d9 !default;
$blue-link: #0061ab !default;
$blue-link-hover: $blue !default;
$blu-adv: #4977b6;

$green: #7a9f35 !default;
$red: #ff250f !default;
$red-bg: #f0dddd !default;
$orange: #f29400 !default;
*/

//== MEDIA QUERIES BREAKPOINTS - BOOTSTRAP
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
$screen-xs:                  480px !default;
$screen-xs-min:              0 !default;
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
$screen-sm:                  767px !default;
$screen-sm-min:              ($screen-xs + 1) !default;
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
$screen-md:                  980px !default;
$screen-md-min:              ($screen-sm + 1) !default;
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
$screen-lg:                  1200px !default;
$screen-lg-min:              ($screen-md + 1) !default;
$screen-lg-desktop:          $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;