html, body{
	height: 100%;
	min-height:100%;
	font-size: 16px;

	background-color: $whiteBackground;
}
body{
    font-family: $font-family-avenirNext;
}

h3{
	font-family: $font-family-avenirNextBold;
}

.item-page{
	margin-top: 50px;
	font-size: 1rem;
	/*margin-bottom: 40px;*/

	.page-header{
		margin: 20px 0 20px;
		border: none;
	}
	h2 {
		/*font-family: $font-family-avenirNextBold;*/
		color: gray;
	}
	h3{
		margin-top: 40px;
		margin-bottom: 20px;
		line-height: 2rem;
	}

	blockquote{
		font-size: 1.5rem;
	}
	
	#introtext{
		font-size:1.5rem;
	}
	#fulltext{
		font-size: 1.125rem;
		line-height: 30px;
		margin-bottom: 2rem;
		/*color: #454545;*/

		/* bigger on mobile phones */
		@media (max-width: 992px){
    		font-size: 1.25rem;
    		line-height: 36px;
    	}
	}
	.content-links{
		display: none;
	}
	.item-image{
		&.pull-left{
			margin-right: 				2rem;
     		border: 					none;
		}
		&.pull-right{
			margin-left: 				2rem;
     		border: 					none;
		}
	}
	
	ul{
        list-style: none;
        margin: 10px 0 10px 0;
        li{
            margin: 0 0 10px 0;
            /* Colored dots in bullet lists */
                &:before { 
                    content: "•"; 
                    color: $orange;
                    display: inline-block; 
                    width: 1em;
                    margin-left: -1em;
                    font-family: arial;
                }
        }

        /* no dots in gallery elements */
            &.sigFreeContainer{
               li{
                    &:before { 
                        content: none;
                    }
                } 
            }
    }


}

.select2-selection__placeholder{
	font-size: 0.875rem;
}
input{
	font-size: 0.875rem;
	padding-left: 5px;
}
button{
	
}
.select2-container .select2-selection--single .select2-selection__rendered{
	line-height: 26px!important;
	font-size: 0.875rem;
}
strong, b{
	font-family: $font-family-avenirNextDemi;
}



