
/****** TIPOGRAPHY ******/

/** Avenir Next LT Pro **/
/* Per visualizzare il font funziona prima il nome del font senza l'estensione piuttosto che la font-family impostata qui */
/* font-family: (nome font senza estensione) */

@font-face {
    font-family:'AvenirNextLTPro-Regular';
    src: url($font-path/avenir-next-lt-pro/AvenirNextLTPro-Regular.woff) format('woff');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'AvenirNextLTPro-Regular';
    src: url($font-path/avenir-next-lt-pro/AvenirNextLTPro-It.woff) format('woff');
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family:'AvenirNextLTPro-Cn';
    src: url($font-path/avenir-next-lt-pro/AvenirNextLTPro-Cn.woff) format('woff');
    font-style: normal;
    font-weight: normal;
}


@font-face {
    font-family:'AvenirNextLTPro-Demi';
    src: url($font-path/avenir-next-lt-pro/AvenirNextLTPro-Demi.woff) format('woff');
    font-style: normal;
    font-weight: normal;
}


@font-face {
    font-family:'AvenirNextLTPro-DemiCn';
    src: url($font-path/avenir-next-lt-pro/AvenirNextLTPro-DemiCn.woff) format('woff');
    font-style: normal;
    font-weight: normal;
}


@font-face {
    font-family:'AvenirNextLTPro-HeavyCn';
    src: url($font-path/avenir-next-lt-pro/AvenirNextLTPro-HeavyCn.woff) format('woff');
    font-style: normal;
    font-weight: normal;
}


@font-face {
    font-family:'AvenirNextLTPro-MediumCn';
    src: url($font-path/avenir-next-lt-pro/AvenirNextLTPro-MediumCn.woff) format('woff');
    font-style: normal;
    font-weight: normal;
}


@font-face {
    font-family: 'AvenirNextLTPro-UltLtCn';
    src: url($font-path/avenir-next-lt-pro/AvenirNextLTPro-UltLtCn.woff) format('woff');
    font-style: normal;
    font-weight: normal;
}


@font-face {
    font-family:'AvenirNextLTPro-Bold';
    src: url($font-path/avenir-next-lt-pro/AvenirNextLTPro-Bold.woff) format('woff');
    font-style: normal;
    font-weight: normal;
}


@font-face {
    font-family:'AvenirNextLTPro-BoldCn';
    src: url($font-path/avenir-next-lt-pro/AvenirNextLTPro-BoldCn.woff) format('woff');
    font-style: normal;
    font-weight: normal;
}


@font-face {
    font-family:'AvenirNextLTPro-BoldCnIt';
    src: url($font-path/avenir-next-lt-pro/AvenirNextLTPro-BoldCnIt.woff) format('woff');
    font-style: normal;
    font-weight: normal;
}


@font-face {
    font-family:'AvenirNextLTPro-CnIt';
    src: url($font-path/avenir-next-lt-pro/AvenirNextLTPro-CnIt.woff) format('woff');
    font-style: normal;
    font-weight: normal;
}


@font-face {
    font-family: 'AvenirNextLTPro-DemiCnIt';
    src: url($font-path/avenir-next-lt-pro/AvenirNextLTPro-DemiCnIt.woff) format('woff');
    font-style: normal;
    font-weight: normal;
}


@font-face {
    font-family: 'AvenirNextLTPro-DemiIt';
    src: url($font-path/avenir-next-lt-pro/AvenirNextLTPro-DemiIt.woff) format('woff');
    font-style: normal;
    font-weight: normal;
}


@font-face {
    font-family: 'AvenirNextLTPro-HeavyCnIt';
    src: url($font-path/avenir-next-lt-pro/AvenirNextLTPro-HeavyCnIt.woff) format('woff');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'AvenirNextLTPro-MediumCnIt';
    src: url($font-path/avenir-next-lt-pro/AvenirNextLTPro-MediumCnIt.woff) format('woff');
    font-style: normal;
    font-weight: normal;
}


@font-face {
    font-family: 'AvenirNextLTPro-UltLtCnIt';
    src: url($font-path/avenir-next-lt-pro/AvenirNextLTPro-UltLtCnIt.woff) format('woff');
    font-style: normal;
    font-weight: normal;
}



/** Merriweather **/

@font-face{
    font-family:"Merriweather";
    src: url($font-path/merriweather/Merriweather-Regular.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family:"Merriweather-Italic";
    src: url($font-path/merriweather/Merriweather-Italic.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family:"Merriweather-Bold";
    src: url($font-path/merriweather/Merriweather-Bold.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family:"Merriweather-BoldItalic";
    src: url($font-path/merriweather/Merriweather-BoldItalic.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family:"Merriweather-Black";
    src: url($font-path/merriweather/Merriweather-Black.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family:"Merriweather-BlackItalic";
    src:url($font-path/merriweather/Merriweather-BlackItalic.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family:"Merriweather-Light";
    src:url($font-path/merriweather/Merriweather-Light.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family:"Merriweather-LightItalic";
    src:url($font-path/merriweather/Merriweather-LightItalic.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}



/** Proxima Nova **/

@font-face{
    font-family:"ProximaNova-Regular";
    src:url($font-path/proxima-nova/ProximaNova-Regular.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family:"ProximaNova-Semibold";
    src:url($font-path/proxima-nova/ProximaNova-Semibold.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family:"ProximaNova-Bold";
    src:url($font-path/proxima-nova/ProximaNova-Bold.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family:"ProximaNova-Extrabld";
    src:url($font-path/proxima-nova/ProximaNova-Extrabld.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family:"October Storm";
    src:url($font-path/october-storm/octoberstorm-webfont.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family:"AlegreyaSans-Bold";
    src:url($font-path/alegreya/alegreyasans-bold-webfont.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}




/****** end TIPOGRAPHY ******/