/* Default font-path */
	$font-path: '../fonts';
	$images-path: '../images';

/*********/
/* Fonts */
/*********/

/* Avenir Next */
	$font-family-avenirNext: Avenir Next, Arial, Helvetica, sans-serif;
	$font-family-avenirNextBold: AvenirNext-bold, Arial, Helvetica, sans-serif;
	$font-family-avenirNextItalic: AvenirNext-italic, Arial, Helvetica, sans-serif;
	$font-family-avenirNextThin: AvenirNext-thin, Arial, Helvetica, sans-serif;
	$font-family-avenirNextDemi: AvenirNextLTPro-Demi, Arial, Helvetica, sans-serif;

/* Merriweather */
	$font-family-Merriweather: Merriweather, serif;
	$font-family-MerriweatherBold: Merriweather-Bold, serif;
	$font-family-MerriweatherBoldItalic: Merriweather-BoldItalic, serif;
	$font-family-MerriweatherItalic: Merriweather-Italic, serif;
	$font-family-MerriweatherBlack: Merriweather-Black, serif;
	$font-family-MerriweatherBlackItalic: Merriweather-BlackItalic, serif;
	$font-family-MerriweatherLight: Merriweather-Light, serif;
	$font-family-MerriweatherLightItalic: Merriweather-LightItalic, serif;

/* ProximaNova */
	$font-family-ProximaNova: ProximaNova, Helvetica, sans-serif;
	$font-family-ProximaNovaSemibold: ProximaNova-Semibold, Helvetica, sans-serif;
	$font-family-ProximaNovaBold: ProximaNova-Bold, Helvetica, sans-serif;
	$font-family-ProximaNovaExtrabold: ProximaNova-Extrabold, Helvetica, sans-serif;
	

/**********/
/* Colors */
/**********/

	$black: #333;
	$gray: #90949c;
	$orange: #f08e0d;
	$orangeDark: #df840c;
	$blu: #337ab7;
	$whiteBackground: #fff;

	/*$orange: #766526;*/
	/*$whiteBackground: #fde9bb;*/



/******************************/
/* MEDIA QUERIES BREAKPOINTS  */
/******************************/

/* Extra small screen / phone*/
$screen-xs:                  480px !default;
$screen-xs-min:              0 !default;
$screen-phone:               $screen-xs-min !default;

/* Small screen / tablet*/
$screen-sm:                  767px !default;
$screen-sm-min:              ($screen-xs + 1) !default;
$screen-tablet:              $screen-sm-min !default;

/* Medium screen / desktop*/
$screen-md:                  980px !default;
$screen-md-min:              ($screen-sm + 1) !default;
$screen-desktop:             $screen-md-min !default;

/* Large screen / wide desktop*/
$screen-lg:                  1200px !default;
$screen-lg-min:              ($screen-md + 1) !default;
$screen-lg-desktop:          $screen-lg-min !default;

/* So media queries don't overlap when required, provide a maximum*/
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;