
/**** com_faqbookpro - CSS override ****/

#fbpExtended{
    .fbpLeftNavigation_core{
        margin-bottom: 20px;
    }
    .fbpContent_core{
        margin-bottom: 20px;
        .fbpContent_root{
        	.topic_section{
        		.topic_faqBlock{
        			.topic_faqPresentation{
        				.topic_faqToggleQuestion{
        					font-size: 16px;
        				}
        			}
        			.topic_faqAnswerWrapper{
        				.topic_faqAnswerWrapper_inner{
        					.faq_text{
        						font-size: 16px;

        						ul{
        							margin-top: 10px;
        						}
        					}
        				}
        			}
        		}
        	}

        }
    }
}