
/* BLOG */
.blog{
    article{
        dl{
            dt.article-info-term{
                display: none;
            }
            dd.create{
                span.icon-calendar{
                    display: none;
                }
            }
        }
    }
    .items-leading{
        article.item.leading-0{
            font-size: 22px;
            text-align: center;

            .page-header{
                border-bottom: none;
                margin: 40px 0 0 0;

                h2{
                    text-align: center;
                    background-color: $whiteBackground;
                    margin-top: -140px;
                    padding-top: 20px;

                    a{
                        color: $orange;
                        text-decoration: none;
                        font-size: 35px;
                    }
                }
            }
            dl{
                font-size: 16px;
                text-align: center;
                color: #777;
            }
            p.readmore{
                text-align: center;
                margin-top: 20px;
                a{
                    background-color: $orange;
                    border-radius: 0;
                    color: #fff !important;
                    
                    font-weight: 600;
                    padding: 8px 24px;
                    text-transform: uppercase;
                    letter-spacing: .3rem;
                    white-space: normal;
                    &.hover{
                        color: #df840c!important;
                    }
                }    
            }
        }   
    }

    .items-row{
        article.item{
            text-align: center;
            .page-header{
                border-bottom: none;
                margin: 40px 0 0 0;
                padding-bottom: 0px;
                h2{
                    text-align: center;
                    a{
                        color: $orange;
                        text-decoration: none;
                        font-size: 20px;
                    }
                }
            }
            dl{
                font-size: 16px;
                color: #777;
            }
                    p.readmore{
            text-align: left;
            a{
                color: $orange;
                border: none;
                padding-left: 0;

                &:after{ 
                    content: '\f0da';
                    font-family: FontAwesome;
                    font-weight: normal;
                    font-style: normal;
                    margin:0px 0px 0px 10px;
                    text-decoration:none;
                } 
                span.icon-chevron-right{
                    display: none;
                }
            }
        }
        }
    }
}

/* end BLOG */

/* BLOG article */
.blogArticle{
    .page-header{
        margin-top: -100px;
        background-color: white;
        text-align: center;
        border-bottom: 0;
        margin-bottom:0;

        h2{
            text-align: center;
            background-color: $whiteBackground;
            padding-top: 20px;
            font-family: $font-family-Merriweather;
            font-size: 35px;
        }
    }

    dl{
        font-size: 16px;
        text-align: center;
        color: #777;
        dt.article-info-term{
            display: none;
        }
        dd.create{
            span.icon-calendar{
                display: none;
            }
        } 
    }
}
/* BLOG article end*/