$images-path: '../../../images/modules/mod_lifeheadermenu';

header{
	z-index: 1;
	&.lifeHeaderMenu{
		z-index: 2;
		.navbar-header{
			z-index: 3;
			.burgher{
				.burgher-background{
			        background-color: #111;
				    border-radius: 100px;
				    opacity: .5;
				    display: block;
				    width: 49px;
				    height: 49px;
				    position: fixed;
				    top: 24px;
				    right: 31px;
				    z-index: 5;
				}
				.toggle-button {
					z-index: 5;
				    position: fixed;
				    top: 15px;
				    right: 15px;
				    /*padding: 9px 10px;*/
				    margin: 8px 15px 8px 0;
				    height: 50px;
				    width: 50px;
				    padding: 16px 11px 10px 11px;
				    cursor: pointer;

				    &:hover {
						opacity: .7;
					}

					&.toggle-active{
						/*.bar {
						    background-color: #f08e0d;
						}*/
						.top {
						    /*-webkit-transform: translateY(6px) translateX(0) rotate(45deg);*/
						    transform: translateY(7px) translateX(0) rotate(45deg);
						}
						.middle {
						   opacity: 0;
						}
						.bottom {
						    /*-webkit-transform: translateY(-12px) translateX(0) rotate(-45deg);*/
						    transform: translateY(-7px) translateX(0) rotate(-45deg);
						}

						&.hover-red{ .bar {background-color: #F44336;}}
					    &.hover-pink{ .bar {background-color: #E91E63;}}
						&.hover-purple {.bar {background-color: #9C27B0;}}
						&.hover-deeppurple { .bar {background-color: #673AB7;}}
						&.hover-indigo { .bar {background-color: #3F51B5;}}
						&.hover-blue { .bar {background-color: #2196F3;}}
						&.hover-lightblue { .bar {background-color: #03A9F4;}}
						&.hover-cyan { .bar {background-color: #00BCD4;}}
						&.hover-teal { .bar {background-color: #009688;}}
						&.hover-green { .bar {background-color: #4CAF50;}}
						&.hover-lightgreen { .bar {background-color: #BBC34A;}}
						&.hover-lime { .bar {background-color: #CDDC39;}}
						&.hover-yellow { .bar {background-color: #FFEB3B;}}
						&.hover-amber { .bar {background-color: #FFC107;}}
						&.hover-orange { .bar {background-color: #FF9800;}}
						&.hover-deeporange { .bar {background-color: #FF5722;}}
						&.hover-brown { .bar {background-color: #795548;}}
						&.hover-grey { .bar {background-color: #9E9E9E;}}
						&.hover-bluegrey { .bar {background-color: #607D8B;}}
						&.hover-black { .bar {background-color: #000000;}}
					}

					.bar {
					    background-color: #FFFFFF;
					    display: block;
					    width: 100%;
					    height: 3px;
					    border: 0;
					    transition: all .35s ease;

					    &.middle {
							top: 11px;
						}
						&.bottom {
						    top: 22px;
						}
						& + .bar {
					    	margin-top: 4px;
						}
					}
				}
			}
		}
		
		nav{
			&.overlay {
			    position: fixed;
			    z-index: 4;

			    /*background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);*/
			    background-image: linear-gradient(120deg, #1f1f1f 0%, #3d3d3d 100%);
			    top: 0;
			    left: 0;
			    width: 100%;
			    height: 0;
			    visibility: hidden;
			    opacity: 0;
			    -webkit-transition: opacity .35s, visibility .35s, height .35s;

			    ul {
			    	&.menu{
			    		display: block;
					    position: relative;
					    /*font-family: 'Vollkorn', serif;*/
					    font-size: 1.6rem;
					    font-weight: 400;
					    text-align: center;
					    list-style: none;
					    padding: 0;
					    line-height: 3rem;

					    margin-top: 5rem;
						
						@media screen and (max-width: 400px) {
							margin-top: 3rem;
						}

					    &:nth-child(2){
							margin-top: 0rem;
					    }

					    li {
						    display: block;
							margin-top: 0.3rem;

							@media screen and (max-width: 769px) {
								margin-top: 0rem;
							}

							&.item-227{
								> a{
									background-image: url($images-path/icons/Logo_contact_bianco.svg);
				                    background-size: 20px 20px;

				                    background-position: 8px center;
				                    background-repeat: no-repeat;
				                    padding-left: 35px; 
								}
							}

						    a {
							    color: #FFF;
							    text-decoration: none;

						    	&.hover-red{ &:hover{ color: #F44336;}}
							    &.hover-pink{ &:hover{color: #E91E63;}}
								&.hover-purple { &:hover{color: #9C27B0;}}
								&.hover-deeppurple { &:hover{color: #673AB7;}}
								&.hover-indigo { &:hover{color: #3F51B5;}}
								&.hover-blue { &:hover{color: #2196F3;}}
								&.hover-lightblue { &:hover{color: #03A9F4;}}
								&.hover-cyan { &:hover{color: #00BCD4;}}
								&.hover-teal { &:hover{color: #009688;}}
								&.hover-green { &:hover{color: #4CAF50;}}
								&.hover-lightgreen { &:hover{color: #BBC34A;}}
								&.hover-lime { &:hover{color: #CDDC39;}}
								&.hover-yellow { &:hover{color: #FFEB3B;}}
								&.hover-amber { &:hover{color: #FFC107;}}
								&.hover-orange { &:hover{color: #FF9800;}}
								&.hover-deeporange { &:hover{color: #FF5722;}}
								&.hover-brown { &:hover{color: #795548;}}
								&.hover-grey { &:hover{color: #9E9E9E;}}
								&.hover-bluegrey { &:hover{color: #607D8B;}}
								&.hover-black { &:hover{color: #000000;}}
							   
							}
						}
			    	}  
				}

				&.nav-active {
				    opacity: 1;
				    visibility: visible;
				    height: 100%;
					/*    max-height: 340px;*/
				}

				.languageFlag{
					color: white;
					text-align: center;

					margin-top: 3rem;

					@media screen and (max-width: 400px) {
						margin-top: 1.5rem;
					}			
				}
			}
		}
	}
}




