
$mobileAndTablet: 'max-width: 769px';  /* This doesnt work.. https://stackoverflow.com/questions/40722882/css-native-variables-not-working-in-media-queries#40723269 */
$images-path: '../../../images/modules/mod_lifeheadermenu';

.lifeHeaderMenu {

	.navbar-default {
		background-color: transparent;
		margin-bottom: 0px;
		border: 0;
		border-radius: 0px;
		padding: 0px 20px 0px 20px;

		transition: background-color 1000ms linear;

		@media screen and (max-width: 769px) {
			border-color: transparent;
			position: relative;
			&.nav_trasp{
				background-color: transparent!important;	
			}
		}

		ul{
			background-color: transparent;
			> li{
				a{
					color: inherit!important;
			        position: relative;
			        transition: height .4s ease, line-height .4s ease, margin .4s ease, padding .4s ease;
			      
					&:hover{
						&:before {
						    position: absolute;
						    z-index: -1;
						    background-color: black;
						    opacity: 0.3;
						    left: 0;
						    top: 0;
						    height: 100%;
						    width: 100%;
						    content: '';
						}
					}

				}
				&.active{
					a{
						/*background-color: #df840c!important;*/
						background-color: transparent!important;
						&:before {
						    position: absolute;
						    z-index: -1;
						    background-color: black;
						    opacity: 0.3;
						    left: 0;
						    top: 0;
						    height: 100%;
						    width: 100%;
						    content: '';
						}

					}
				}
				ul.dropdown-menu{
					width: 100%!important;
					margin: 0;
					padding: 0;
					li{
						a{
							padding: 0.6rem 1rem;
							box-sizing: border-box;
						}
					}
				}
				&.open{
					a{
						
						background-color: transparent!important;
						&:before {
						    position: absolute;
						    z-index: -1;
						    background-color: black;
						    opacity: 0.4;
						    left: 0;
						    top: 0;
						    height: 100%;
						    width: 100%;
						    content: '';
						}
					}


					ul.dropdown-menu{
						padding: 0;
						border: 0;
						/*width: 100%!important;*/

			        	li{
			        		a{
			        			
			        			background-color: transparent!important;
			        			&:before {
								    position: absolute;
								    z-index: -1;
								    background-color: black;
								    opacity: 0.3;
								    left: 0;
								    top: 0;
								    height: 100%;
								    width: 100%;
								    content: '';
								}
								&:hover{
									&:before {
										opacity: 0.6;
									}
								}
			        		}
			        	}
		        	} 


				}

				&.item-104{
					> a{
						background-image: url($images-path/icons/Logo_contact_bianco.svg);
	                    background-size: 20px 20px;

	                    background-position: 8px center;
	                    background-repeat: no-repeat;
	                    padding-left: 35px; 
					}
				}
			}
			
			/* MOBILE MENU */
			&.sm-collapsible{
				margin-top: 0rem;
				li{
					a{
						line-height: 1.5rem!important;
						border-bottom: 1px #e7e7e7 solid;
					}
				}
			}
		}
		a{
			&.navbar-brand{
				padding: 0;
				img{
					transition: height .4s ease, line-height .4s ease, margin .4s ease, padding .4s ease;
				}
				@media screen and (max-width: 769px) {
					float: none;
					img{
						height: 90px!important;
						margin: auto;
					}
				}
			}
		}

		.navbar-toggle{
			.icon-bar{
				background-color: white;
			}
			&:hover{
				background-color: #df840c!important;
			}
			&:focus{
				background-color: #df840c!important;
			}
			@media screen and (max-width: 769px) {
				position: absolute;
				top: 0rem;
				right: 0;
				&.sub-arrow{
					top: 0.60rem;
					margin-right: 0.3rem;
				}
			
			}
		} 

		.navbar-collapse{
			@media screen and (max-width: 769px) {
				margin-top: 1rem;
			}
		}

		.mod-languages{
			padding: 13px 10px 0 20px;
			display: inline-block;
    		float: right;
    		@media screen and (max-width: 769px) {
    			float: left;
    			padding-left: 0px;
    		}
		}

		&.transparent-header-menu-hp{
			/*background-color: transparent!important;*/
		}

	}	
}

body{
	&.device-md, &.device-lg{
		.lifeHeaderMenu {
			.navbar-default {
				&.nav_trasp{
					background-color: transparent!important;
				}
			}
		}
	}
}

/*
body{
	&.sticky-header{
		.lifeHeaderMenu {
			.navbar-default {

				ul{
					li{
						a{
							line-height: 20px!important;
						}
					}
				}
				a{
					&.navbar-brand{
						img{
							height: 50px!important;
						}
					}
				}
				
				


			}
		}
	}
	&:not(.sticky-header) {
		.lifeHeaderMenu {
			.navbar-default {
				position: relative!important;
			}
		}
	}*/

	/* On mobile center the brand */
	/*&.device-xs{
		.lifeHeaderMenu {
			.navbar-default {
				a{
					&.navbar-brand{
						float: none;
						img{
							height: 90px!important;
							margin: auto;
						}
					}
				}
				.navbar-toggle{
					position: absolute;
					top: 0rem;
					right: 0;
					&.sub-arrow{
						top: 0.60rem;
						margin-right: 0.3rem;
					}
				}
			}
		}
	}
	*/

/*}*/





