
.form-horizontal .control-label{
    text-align: left;
}

.newsletter_subscribe{
	padding-top: 5px;
}

.blog{
	.item{
		font-size: 1.125rem;
	}
}


.pagination-wrapper{
	text-align: center;
	ul.pagination{
		li{
			a{
				color: $orange;
			}
			&.active{
				a{
					background-color: $orange;
					border-color: $orange;
					color: white;
				}
			}
		}
	}
}
.item-page{
	&.homepage{
		margin-top: 0;
	}
}

.lifeVideo, .lifeCarousel{
	.container{
		h2{
			font-family: October Storm, sans-serif; 
			font-size: 8rem;
			margin-bottom: 0;
			line-height: 6rem;

			@media screen and (min-width:400px) and (max-width:800px) {
				font-size: 7rem;
			}
			@media screen and (max-width: 400px) {
				font-size: 4rem;
			}

		}
		.subtitle{
			font-family: AlegreyaSans-Bold, sans-serif; 
			font-size: 1.2rem;
			text-transform: uppercase;

			@media screen and (min-width:400px) and (max-width:800px) {
				font-size: 1.3rem;
			}
			@media screen and (max-width: 400px) {
				font-size: .9rem;
			}
		}

	}
	
}


