
@font-face {
    font-family: AvenirNext;
    src: url(../fonts/avenir-next-regular.eot?#iefix);
    src: url(../fonts/avenir-next-regular.eot?#iefix) format("eot"), url(../fonts/avenir-next-regular.woff) format("woff"), url(../fonts/avenir-next-regular.ttf) format("truetype"), url(../fonts/avenir-next-regular.svg#avenir-next-regular) format("svg")
}
@font-face {
    font-family: AvenirNext-bold;
    src: url(../fonts/avenir-next-bold.eot?#iefix);
    src: url(../fonts/avenir-next-bold.eot?#iefix) format("eot"), url(../fonts/avenir-next-bold.woff) format("woff"), url(../fonts/avenir-next-bold.ttf) format("truetype"), url(../fonts/avenir-next-bold.svg#avenir-next-bold) format("svg")
}
@font-face {
    font-family: AvenirNext-italic;
    src: url(../fonts/avenir-next-italic.eot?#iefix);
    src: url(../fonts/avenir-next-italic.eot?#iefix) format("eot"), url(../fonts/avenir-next-italic.woff) format("woff"), url(../fonts/avenir-next-italic.ttf) format("truetype"), url(../fonts/avenir-next-italic.svg#avenir-next-italic) format("svg")
}
@font-face {
    font-family: AvenirNext-thin;
    src: url(../fonts/avenir-next-thin.eot?#iefix);
    src: url(../fonts/avenir-next-thin.eot?#iefix) format("eot"), url(../fonts/avenir-next-thin.woff) format("woff"), url(../fonts/avenir-next-thin.ttf) format("truetype"), url(../fonts/avenir-next-thin.svg#avenir-next-thin) format("svg")
}

body#tinymce{
	font-size: 14px;
	font-family: AvenirNext,Arial,Helvetica,sans-serif;
	line-height: 1.42857143;
    color: #333;
}

body#tinymce b, body#tinymce strong{
    font-family: AvenirNext-demi,Arial,Helvetica,sans-serif;
}
