
/**** com_jevents - CSS override ****/

/*Jevents detail view*/
#jevents{
    h1{
        text-align: center;
        font-family: Avenir Next,Arial,Helvetica,sans-serif;
        font-size: 36px;
        font-weight: 500;
    }

    #jevents_header{
        h2{
            display: none;
        }
        ul{
            &.actions{
                li{
                    a{
                        font-size: 20px;
                        color: $orange;
                        margin-left: 10px;
                        &:hover{
                            color: #333;
                        }
                    }   
                }
            }
        }
    }

    #jevents_body {
        border: none;
        background-color: transparent;

        &.contentpaneopen{
            padding: 0;

            .jev_evdt_icons{
                margin-top: 10px;

                a{
                    font-size: 20px;
                    color: $orange;
                    margin-left: 10px;
                }
            }
            
             .ev_adminpanel{
                &.author{
                    form  {
                        & > div:nth-child(2){
                            display: none;
                        }
                    }
                }
                form{
                    & > div:nth-child(4){
                            display: none;
                    }
                }
            } 

            
/**/
        }

        table.ev_table{
            ul.ev_ul{
                li.ev_td_li{
                    a{
                        &.ev_link_row{
                            font-size:14px;
                        }
                    }
                }
            }
        }
        
        .new-navigation{
            display: none;
        }
        
        .jev_evdt_header{
            .jev_evdt_title{
                font-size: 30px;
                font-family: $font-family-avenirNextBold;
                color: $orange;
            }
        }
        
        .jev_eventdetails_body{
            .jev_evdt_desc{
                font-size: 16px;
            }
            .jev_evdt_summary{
                width: 100%;
                & > div{
                    padding-bottom: 5px;
                    font-size: 15px;
                }
                .category{
                    margin-top: 10px;
                }
                .date{
                    /*margin-bottom: 20px;*/
                    display: table;
                    i {
                        padding-right: 10px;
                        display: table-cell;
                        vertical-align: middle;
                    } 

                    .dates{
                        .smalldate{
                            font-size: 12px;
                            color: $gray;
                        }
                    }
                }
                .venue{
                    .fa-map-marker:before{
                        padding-left: 3px;
                        padding-right: 2px;
                    }
                }
                .teachers{
                    margin-top: 5px;
                    .jevpeople_entries{
                        span{
                            background-color: #f2f2f2;
                            margin-right: 10px;
                            padding: 2px 10px 2px 10px;
                        }
                    }
                }
                .organizer{
                    .jevpeople_entries{
                        span{
                            background-color: #f2f2f2;
                            margin-right: 10px;
                            padding: 2px 10px 2px 10px;
                        }
                    }
                }
                
            }
        }
        
        .jevpeople_entries{
            display: inline-block;
        }
        .jev_evdt_location{
            .map{
                margin-top: 20px;
            }
        }
    }  



    table.eventlist{
        border: 0;
        border-collapse: collapse;
        border-spacing: 0;

        margin-top: 20px;

        @media screen and (max-width: 400px){
            border-collapse: separate;
            border-spacing: 2rem;
        }

        tr{
            th{
                border: none;
                &:nth-child(1){
                    width: 22%!important;
                }
                &:nth-child(2){
                    width: 10%!important;
                }
                &:nth-child(3){
                    width: 10%!important;
                }
                &:nth-child(4){
                    width: 15%!important;
                }
                &:nth-child(5){
                    width: 15%!important;
                }
                &:nth-child(6){
                    width: 3%!important;
                }

                @media screen and (max-width: 400px){
                    display: none;
                }


            }
            td{
                border: none;
                font-size: 14px;

                @media screen and (max-width: 400px){
                    display: block;
                    line-height: 20px;
                    padding: 3px;
                }

                a.ev_link_row{
                    font-size: 16px;
                }
            }
            
        }
    }


} /* end #jevents */







.jevpeople-toolbar {
    #toolbar{
        .btn-wrapper{
            display: inline-block;
            margin-right: 5px;
        }
    } 
}

/*margins of the edit interface of JEV_locations*/
.col.jevbootstrap{
    table tr td{
        padding-bottom:10px;
    }
}

/*table of jevlocation*/
.jevlocations {
    a:link, a:visited{
        color: #337ab7!important;
        font-family: $font-family-avenirNext;
        font-size: 12px;
    }
    span.editlinktip{
        a{
            font-size: 14px;       
        }
    }
    table{
        &.adminlist{
            thead{
                th{
                    background-color:white;
                }
            }
            tbody{
                tr{
                    &.row1{
                        td{
                            background-color: white;
                        }     
                    }
                    td{
                        background-color: #f9f9f9;
                    }
                }
            }
        }
    }
}

.jevpeople {
    .checkbox, .radio{
        margin-top: 0;
        margin-bottom: 0;
    }
    .admintable {
        width: 100%;
        label{
            display: inline-block;
        }
        select{
            &#type_id{
                width: 150px;
            }
        }
        tr{
            &.jevplugin_customfield_phone, &.jevplugin_customfield_email{
                td{
                    label{
                        margin-right: 20px;
                    }    
                }
            }
        }

    }
    .col {
        table {
            &.admintable{
                tr{
                    /* margin of the edit interface of JEV_persons*/
                    td{
                        padding-bottom:10px;
                        &.key{
                            padding-right: 20px;
                        } 
                    }
                }
            }
        }
    }

    /* JEVENTS FIX TOOLTIP DISAPPEAR */
    .hasPopover{
        display: inline-block !important;
    }



}



#jevents .jevtimezone .col-xs-10 .chzn-container{
    width: 200px!important;
}