
/**** com_user - CSS override ****/

/******* USER LOGIN ******/
    fieldset#users-profile-custom{
        display: none;
    }
    form{
        &#member-profile{
            
            fieldset{
                &.edit-profile-core{
                    margin-bottom: 20px;
                }
                &.edit-profile-params{  
                    margin-top: 30px;
                    display: none;   /* to give possibility to change language remove this */
                }
            }
        }

    }
/****** end USER LOGIN *****/

/****** USER REGISTRATION *****/
    .registration{
        form#member-registration{
            .control-group{
                margin-top: 10px;
                .controls{
                    input, textarea{
                        @media (max-width: 480px) {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
/****** end USER REGISTRATION *****/