.mod-languages{
    /*float: right;*/
    margin:0;
    padding:0;
    height: 40px;

    .btn-group{
        
        @media (max-width: 992px) {
            float: right;
        }
    }

    a{
        &.dropdown-toggle{
            padding-top: 9px;
            &:hover{
                color: white;
                /*color: #ededed;*/
            }
        }
        img{
            padding-bottom: 3px;
        }
    }

    ul{
        &.lang-inline{
            list-style-type: none;

            li{
                //float: right;
                padding: 0;
                margin:0;
                &.lang-active{
                    a{
                        img{
                            border: 2px solid #edcda3;
                        }
                    }
                }
            }
        }

        &.dropdown-menu{
            bottom: 100%;  // To reverse the Dropdown and get an Dropup
            top: auto;
        }
    }

} 

      
    