div.ev_navigation,
#jevents_body,
#jevents_header,
table.ev_table,
#jev_title,
.jev_toprow,
#jevents_body .event_legend_container,
table.jev_row {
  width: 100% !important;
}
.jev_toprow {
  box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
}
.jev_toprow .jev_daysnames {
  float: left;
  width: 14.285%!important;
  font-weight: bold;
}
div.jev_topleft {
  width: 23px !important;
  background-size: 100% 100% !important;
}
div.jev_daysnames_container {
  width: 100%;
  position: relative;
  box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
}
table.jev_row td {
  border-spacing: 0;
}
.jev_dayoutofmonth {
  box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
}
td.jevdaydata {
  position: relative;
  display: inline-block;
  width: 100%;
  min-height: 82px;
}
div.jevdaydata {
  width: 100%;
  z-index: 4;
  position: relative;
}
div.eventfull div {
  width: 85%;
  overflow: hidden;
  background-color: #F7F7F7;
}
div.eventfull {
  margin: 2px 0 !important;
}
div.jevdaydata div.jev_daynum {
  padding-left: 1% !important;
  width: 13.285%;
}
div.jevblocks0 {
  width: 0 !important;
}
div.jeveventrow {
  width: 100%;
  position: relative;
  z-index: 4;
  box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
  border-style: solid;
  border-color: #DDD;
  border-width: 0 !important;
}
div.jeveventrow div.jevblocks1 {
  width: 14.285% !important;
}
#jevents_body div.jevblocks1 div.eventfull {
  width: 97%!important;
  padding-left: 3%;
  background-color: transparent !important;
}
div.jevblocks2 {
  width: 28.57%!important;
}
#jevents_body div.jevblocks2 div.eventfull {
  width: 96.5%!important;
  padding-left: 1.5%;
  background-color: transparent !important;
}
div.jevblocks2 div.eventfull div {
  width: 94.5%;
}
div.jevblocks3 {
  width: 42.855%!important;
}
#jevents_body div.jevblocks3 div.eventfull {
  width: 97.6%!important;
  padding-left: 1%;
  background-color: transparent !important;
}
div.jevblocks3 div.eventfull div {
  width: 96.3%;
}
div.jevblocks4 {
  width: 57.14%!important;
}
#jevents_body div.jevblocks4 div.eventfull {
  width: 98.5%!important;
  padding-left: 0.75%;
  background-color: transparent !important;
}
div.jevblocks4 div.eventfull div {
  width: 97%;
}
div.jevblocks5 {
  width: 71.425%!important;
}
#jevents_body div.jevblocks5 div.eventfull {
  width: 99%!important;
  padding-left: 0.6%;
  background-color: transparent !important;
}
div.jevblocks5 div.eventfull div {
  width: 97.45%;
}
div.jevblocks6 {
  width: 85.71%!important;
}
#jevents_body div.jevblocks6 div.eventfull {
  width: 99%!important;
  padding-left: 0.5%;
  background-color: transparent !important;
}
div.jevblocks6 div.eventfull div {
  width: 97.95%;
}
div.jevblocks7 {
  width: 100%!important;
}
#jevents_body div.jevblocks7 div.eventfull {
  width: 99.1%!important;
  padding-left: 0.42857142857142857%;
  background-color: transparent !important;
}
div.jevblocks7 div.eventfull div {
  width: 98.35%;
}
div.jev_dayoutofmonth {
  box-sizing: border-box !important;
}
ul.pagination-list li {
  margin-right: 0 !important;
}
span.hiddentime {
  display: none;
}
#jevents_body .jev_underlay {
  position: absolute;
  width: 100%;
  z-index: 0;
  border-right: solid 1px #EEF0EF;
  height: 100%;
}
#jevents_body .jev_underlay .jev_underlay_daynum {
  float: left;
  width: 14.285%;
  position: relative;
  height: 100%;
}
#jevents_body .jev_underlay .jev_underlay_daynum > div {
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: #DDD;
  height: 100%;
}
#jevents_body .jev_underlay .jev_underlay_firstdaynum > div {
  border-width: 0 1px 1px 0 !important;
  margin: 0 0 0 1px;
}
.jev_underlay_daynum.jev_underlay_lastdaynum div {
  /*border-right-width: 0px!important;*/

}
#jevents_body .jev_underlay .jev_underlay_daynum_today div {
  background-color: #DDDDDD;
}
#jevents_body .jev_underlay .jev_underlay_outofmonth_start div {
  background-color: #d4d8d8;
}
#jevents_body .jev_underlay .jev_underlay_outofmonth_end div {
  background-color: #d4d8d8;
}
