.icon-16-falang {
	background: url(../images/icon-16-falang.png);
}
.com_falang ul {
	list-style: none;
	margin-left:0;
}

div.falang_footer{
	width: 100%;
	clear: both;
	text-align: center;
}

div.falang_field_lable{
	text-align: left;
	float: left;
	width: 40%;
	padding: 4px 0;
}

div.falang_field_action{
	text-align: right;
	float: left;
	width: 60%;
}


.form-horizontal .falang_publish_btn {
	display: block;
	padding-left: 0;
}

.form-horizontal .falang_publish_btn .controls > .btn {
	width: 25%;
	min-width: 40px;
	padding: 2px 0!important;
}


table.adminform tr.row_original td{border: 1px solid transparent;}

table.adminform th.falang{padding: 4px 8px}

table.translateparams{
	width:100%;
}
td.translateparams span.editlinktip{
/*	display:none;*/
}

#manage_results div {
	border: 1px solid #dddddd;
	width: 98%;
	height: 100%;
}
div.icon-48-extension {
	background: url(../images/icon-48-extension.png) no-repeat left;
}
div.icon-48-falang {
	background: url(../images/icon-48-falang.png) no-repeat left;
}
div.icon-48-help {
	background: url(../images/icon-48-help.png) no-repeat left;
}
div.icon-48-info {
	background: url(../images/icon-48-info.png) no-repeat left;
}
div.icon-48-manage {
	background: url(../images/icon-48-manage.png) no-repeat left;
}
div.icon-48-orphan {
	background: url(../images/icon-48-orphan.png) no-repeat left;
}
div.icon-48-plugin {
	background: url(../images/icon-48-plugin.png) no-repeat left;
}
div.icon-48-statistics {
	background: url(../images/icon-48-statistics.png) no-repeat left;
}
div.icon-48-translation {
	background: url(../images/icon-48-translation.png) no-repeat left;
}

table.adminform a.toolbar {
   display: block;
	white-space: nowrap;
	border: 1px solid #fbfbfb;
	padding: 1px 5px;
	cursor: pointer;
	text-align: center;
	width: 32px;
}

table.adminform a.toolbar:hover {
	border-left: 1px solid #eee;
	border-top: 1px solid #eee;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	text-decoration: none;
	color: #0B55C4;
}


table.adminform a.toolbar span { 
	float: none; 
	width: 32px; 
	height: 32px; 
	margin: 0 auto; 
	display: block;
}

#adminJFSidebar {vertical-align:top; padding-left:15px;padding-top:55px;width:300px;float:left;}
#adminJFSidebar .jfSidebarInformation {border: 1px dashed #ccc;padding:0;width:100%;margin-bottom:10px;}
#adminJFSidebar table thead th { 
	background:none repeat scroll 0 0 #F0F0F0;
	border-bottom:1px solid #999999;
	border-left:1px solid #FFFFFF;
	color:#666666;
	text-align:center;
	padding: 3px 4px 3px 4px;
}
div#jfcontent {}

span.update-msg-info{color:green;font-weight: bold;}
span.update-msg-new{color:red;font-weight: bold;}
span.update-msg-new a{color:orange;font-style: italic;}

.plaintext{margin-top:5px;float:left}

/* toolbar component*/


#toolbar span.falang-status{
	z-index: 0;
	background: transparent;
	border: none;
	margin: 0 6px 0 -6px;
}

/* Quickjump*/


button.uptodate{
    border-top: 2px solid green;
    border-radius: 0px;
}
a.quickjump.uptodate{
    border-top: 2px solid green;
    border-radius: 0px;
}

button.old{
    border-top: 2px solid orange;
    border-radius: 0px;
}
a.quickjump.old{
    border-top: 2px solid orange;
    border-radius: 0px;
}
button.notexist{
    border-top: 2px solid red;
    border-radius: 0px;
}
a.quickjump.notexist{
    border-top: 2px solid red;
    border-radius: 0px;
}

img.quicktranslate-icon{
    border: 0;
    vertical-align: top;
    width: 26px;
    height: 16px;
    max-width: none;
}
.btn-toolbar span.falang-status{
	position: absolute;
	bottom: 5px;
}

a.quickjump {
    text-transform: uppercase;
    margin-right:1px;
	position: relative;
}

span.lang-published{
	background-color:green;
	width: 5px;
	height: 5px;
	position: absolute;
	right: 0px;
	bottom: 0px;
}
span.lang-unpublished{
	background-color:red;
	width: 5px;
	height: 5px;
	position: absolute;
	right: 0px;
	bottom: 0px;
}
#modal-eye{width: 95%;height: 95%;margin-left: -48%}
#modal-eye div.modal-body{max-height: none;}


/* quickjump */

button .quicktranslate.uptodate{
	border-bottom: 1px solid #008000;
}
button .quicktranslate.incomplete{
	border-bottom: 1px solid #ffA500;
}
button .quicktranslate.notexisting{
	border-bottom: 1px solid #ff0000;
}
button .quicktranslate.published{

}
button .quicktranslate.unpublished{

}

.btn-wrapper .modal.fade.in{
	top: 15px;
}
.btn-wrapper div.modal{
    width: 96%;
	margin-left: -48%;
}

.itrmodal.modal .modal-body {
	max-height: none;
	overflow: visible;
}
/* fin quickjump */

/* cpanel */
/*Cpanel*/

.box.box-primary {
	border-top-color: #3c8dbc;
}

.box.box-info {
	border-top-color: #00c0ef;
}

.box.box-danger {
	border-top-color: #dd4b39;
}

.box.box-success{
	border-top-color: #00a65a;
}

.box.box-navy {
	border-top-color: #001f3f;
}

.box {
	position: relative;
	border-radius: 3px;
	background: #ffffff;
	border-top: 3px solid #d2d6de;
	margin-bottom: 20px;
	width: 100%;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.fa-success{
	color: #00a65a;
}
.fa-danger{
	color: #dd4b39;
}



.box-header.with-border {
	border-bottom: 1px solid #f4f4f4;
}
.box-header {
	color: #444;
	display: block;
	padding: 10px;
	position: relative;
}

.box-header .box-title {
	display: inline-block;
	font-size: 18px;
	margin: 0 0 15px 0;
	line-height: 1;
}

.box-body {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	padding: 10px;
}

.box .body>.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}


.box .body >.btn-app {
	border-radius: 3px;
	position: relative;
	padding: 15px 5px;
	margin: 0 0 10px 10px;
	min-width: 80px;
	height: 60px;
	text-align: center;
	color: #666;
	border: 1px solid #ddd;
	background-color: #f4f4f4;
	font-size: 12px;
}
.box .body >.btn-app:hover {
	background: #f4f4f4;
	color: #444;
	border-color: #aaa;
}

.btn-app>.icon {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.btn-app>.fa, .btn-app>.glyphicon, .btn-app>.ion {
	font-size: 25px;
	display: block;
	margin-top: 5px;
}


/* end cpanel */

.footer_review .stars {
	color: #fcac0a;
	letter-spacing: 0px;
}
.footer_review span.icon-star{
	margin-right: 1px;
}

.adminlist span.version{margin-left:15px;}

/*custom field*/
.translation-field-fieldparams td:nth-child(2) input[type="text"]{
	pointer-events: none;
	background-color: #cccccc;
}
.translation-field-fieldparams td div.btn-group,.translation-field-fieldparams th div.btn-group, .translation-field-fieldparams th:nth-child(3){display: none}
/*end custom field*/
