/**
 * @author              Steven Palmer
 * @author url          https://coalaweb.com
 * @author email        support@coalaweb.com
 * @copyright           Copyright (c) 2017 Steven Palmer All rights reserved.
 */

.cwt-stats-lt-tags, .cwt-stats-ly-tags, 
.cwt-stats-lw-tags, .cwt-stats-lm-tags, 
.cwt-stats-la-tags {
    background:url(../icons/tags.png) no-repeat;
}

.cwt-stats-lt-tags, .cwt-stats-ly-tags,
.cwt-stats-lw-tags, .cwt-stats-lm-tags, 
.cwt-stats-la-tags {
    padding-left:20px;
    float:left;
}

.cwt-stats-lt-tags { background-position: 0px 2px; }
.cwt-stats-ly-tags { background-position: 0px -64px; }
.cwt-stats-lw-tags { background-position: 0px -130px; }
.cwt-stats-lm-tags { background-position: 0px -196px; }
.cwt-stats-la-tags { background-position: 0px -262px; }
