/**** Sticky footer styles ****/

html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 40px;
}
.push{
    height: 40px;
}
.footer {
    position: fixed;
    z-index: 3;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #f08e0d;
    color: white;
    padding: 0px 0px;

    a{
        color: white;
        &:hover {
            background-color: transparent;
        }
    }

    & > .container{
        min-height:60px;
        padding-right: 15px;
        padding-left: 15px;

        & > .row{
            min-height:60px;

            .copyright{
                padding-top: 10px;
            }
            .menufooter{
                

                ul.nav {
                    li{
                        float: right;

                        @media (max-width: 992px) {
                            float: left;
                        }

                        a{
                            height: 40px;
                            padding: 10px 10px;
                            
                            &:hover {
                                text-decoration: underline;
                                background-color: transparent;
                            }
                            &:focus {
                                background-color: #df840c!important;
                            }
                        }
                        &.active{
                            a{
                                background-color: #df840c!important;
                            }
                        }

                        &.item-115 a{
                            background-image: url($images-path + "/CQ_logo_pic_white.png");
                            background-size: 20px 14px;

                            background-position: 8px center;
                            background-repeat: no-repeat;
                            padding-left: 35px; /* Adjust according to image size to push text across. */
                        }
                    }
                }
            }

        }
    }
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 26px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}


code {
  font-size: 80%;
}