
/**** HEADER MENU ****/

/*Only Desktop*/
@media (min-width: 768px) {
	.jumbotron nav.navbar-default{
		background-color: transparent!important;
		border-color: transparent;

		position: relative;
	}
}

nav.navbar-default{
	background-color: #f08e0d;
	ul{
		li{
			a{
				color: white!important;
		        &:hover {
		            background-color: transparent;
		            text-decoration: underline;
		        }
			}
			&.active{
				a{
					background-color: #df840c!important;
				}
			}
		}
	}
	.navbar-toggle{
		.icon-bar{
			background-color: white;
		}
	} 
	.navbar-toggle:hover, .navbar-toggle:focus{
		background-color: #df840c!important
	}
}


