
/**** JUMBOTRON ****/

.jumbotron{
    min-height: 100%;

    background: url("../images/image-jam.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    // Fix to the top only the mobile navbar (the desktop and iPad menu diventano più)
    @media (min-width: 768px) {
        padding-top: 0;

    }

    h1{
    	font-family: $font-family-avenirNextBold;
		font-size: 35px!important;
		margin-top: 100px;
		color: white;
    }
    h2{
    	font-family: $font-family-avenirNextBold;
    	font-size: 22px;
		color: #cccccc;
		text-transform: uppercase;
		margin-bottom: 50px;
    }
    p{
		color: white;
	}
	p.subtitle{
		font-size: 16px;
	}

}