
/* For buttons check https://press-css.io */

/* Button Example <button class="press press-deeporange press-ghost" onclick="location.href='/past-events.html'">Past events</button> */

/*
a.life-button {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Roboto",Arial,sans-serif;
    border: 1px solid transparent;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    text-align: center;
    line-height: 1;
    overflow: hidden;
    margin: 0;
    vertical-align: top;
    display: inline-block;
    white-space: nowrap;
    -webkit-transition: 0.1s linear;
    transition: 0.1s linear;

    border-radius: 2px;
    text-align: center;

    font-size: .875rem;
    padding: 0.7857142857em 2em;

    background-color: $orange;
    border-color: #0080FF;
    color: #fff;

	&:hover{
		text-decoration: none;
		color: red;
	}
}
*/

/*
a.life-button{
    background: none repeat scroll 0 0 rgba(0,0,0,0);
    border: 2px solid #fff;
    color: #fff;
    font: 15px/52px grey_gooseregular,helvetica,arial,sans-serif;
    height: 52px;
    display: inline-block;
    padding: 0px 20px 10px 20px;

    &:hover{
        text-decoration: none;
        color: white;
        background-color: $orange;
    }
}
*/

button{

    &.press{
        /*margin-right: 1rem;
        margin-bottom: 1rem;*/
    }
}
    


        