/**** Sticky footer styles ****/

html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 40px;
}
.push{
    height: 40px;
}
footer.footer {
    position: fixed;
    z-index: 5;
    bottom: 0;
    width: 100%;
    height: 40px;
    /*background-color: $orange;*/
    background-color: transparent;
    color: white;
    padding: 0px 0px;

    /*Only Tablet and Mobile*/
        @media (max-width: 768px) {
            /*background-color: $orange!important;*/
        }

    &.nav_colored{
        /*background-color: $orange;*/

        & > .container{
            & > .row{
                .menufooter{
                    ul{
                        &.nav{
                            li{
                                &.active{
                                    a{
                                        /*background-color: #df840c!important;*/
                                        &:before {
                                            position: absolute;
                                            z-index: -1;
                                            background-color: black;
                                            opacity: 0.3;
                                            left: 0;
                                            top: 0;
                                            height: 100%;
                                            width: 100%;
                                            content: '';
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }


    }

    a{
        color: white;
        &:hover {
            background-color: transparent;
        }
    }

    & > .container{
        min-height:60px;
        padding-right: 15px;
        padding-left: 15px;

        & > .row{
            min-height:60px;

            .copyright{
                padding-top: 5px;
            }
            .menufooter{
                float: right;

                ul.nav {
                    li{
                        float: right;

                        @media (max-width: 992px) {
                            float: left;
                        }

                        a{
                            height: 40px;
                            padding: 10px 10px;
                            
                            &:hover, &:focus {
                                background-color: transparent!important;
                                &:before {
                                    position: absolute;
                                    z-index: -1;
                                    background-color: black;
                                    opacity: 0.3;
                                    left: 0;
                                    top: 0;
                                    height: 100%;
                                    width: 100%;
                                    content: '';
                                }
                            }
                            
                        }
                        &.active{
                            a{
                                /*background-color: #df840c!important;*/
                                //background:rgba(255,255,255,0.2);
                                &:before {
                                            position: absolute;
                                            z-index: -1;
                                            background-color: black;
                                            opacity: 0.3;
                                            left: 0;
                                            top: 0;
                                            height: 100%;
                                            width: 100%;
                                            content: '';
                                        }
                            }
                        }

                        &.item-115 a{
                            background-image: url($images-path/CQ_logo_pic_white.png);
                            background-size: 20px 14px;

                            background-position: 8px center;
                            background-repeat: no-repeat;
                            padding-left: 35px; /* Adjust according to image size to push text across. */
                        }
                    }
                }
            }

        }
    }
    .block{
        &.language{
            padding: 10px 0 0 0;
    }
}
}

