
/* Jumbo Module */
/*
.jumboModule{
    &.before{
        .custom{
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            padding: 100px 50px 50px 50px;

            width: 100%;
            height: calc(100% - 30px);
            position: fixed;

            &.headingBanner{
                color: white;
            }

            &.fullwidth_video_bg_wrapper{
                width: 100%;
                overflow: hidden;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-size: cover;
                background-position: 50%;
                pointer-events: none;
                
                height: 100vh;

            }

            h1{
                margin-bottom: 50px;
            }
        }
    }
}

.blogBody{
    .jumboModule{
        &.before {
            .custom{
                position: relative;

                background-attachment: scroll;
                top: 0px!important;
            }
        }
    }
    .item-page{
        &.blogArticle{
            margin-top: 0;
        }
    }
}

.bannerBody{
    .item-page{
        margin-top:100vh;
    }
}
*/

