
/* TABLES */
.item-page{
    #fulltext{
        table{
            border-spacing: 2px;
            border-collapse: separate;
            th{
                background-color: $orange;
                color: white;
                font-weight: bold;
                padding: 8px 15px;
            }
            td{
                background-color: #EEEEE4;
                padding: 6px 15px;
                vertical-align: top;
            }
            tr{
                &:nth-child(even){
                    td{
                        background: #f6f5f5;
                    }
                }
            }
        }
    }
}

/* end TABLES*/