
/**** JqueryUI Accordion - CSS override - plugin/contents/jw_ts ****/


/****** ACCORDION ******/

/* Slides */
.item-page{
	.ui-state-default{
		background-color: transparent!important;
	}
	.ui-accordion .ui-accordion-icons{
		border-style: solid none none;
    	border-width: 1px medium 0; 
    	padding: 24px 60px 24px 0!important;

    	font-family: $font-family-avenirNextDemi;
    	font-size: 1.2rem!important;
    	border-radius: 0;

	}
	.ui-accordion-header{
		&.ui-state-active{
			background-color: transparent;
			color: $black;	
			/*border: none;*/
			border-color: #c5c5c5;
		}
	}
	.ui-accordion-content{
		border: none!important;
		height: auto!important;
		font-family: $font-family-avenirNext;


		a{
			color: $blu!important;
		}
	}

/* Icons */
	.ui-icon{
		width: 40px!important;
		height: 40px!important;
		text-indent: 0!important;
		overflow: visible!important;
	}

	.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
	    margin-top: 0!important;
	    position: absolute;
	    right: .5em;
	    top: inherit!important;
	    background-image: none;
	}


	.ui-state-default .ui-icon::after {
	    background: #fff;
	    border: 2px solid $orange;
	    border-radius: 100%;
	    box-sizing: border-box;

	    color: $orange;
		content: "+"!important;
		font-family: $font-family-avenirNext;



	    text-align: center;
	    font-size: 27px;
	    font-weight: 400;
	    
	    line-height: 33px;
	    opacity: 1;
	    padding: 1px 0 0 0px;
	    
	    position: absolute;
	    top: -8px;
	    right: 0px;

		height: 40px;
	    width: 40px;
	}

	.ui-accordion-header-active.ui-state-active {
		.ui-icon::after{
			content: "-"!important;
		}
	}
}




/**** end ACCORDION ****/
