

.upcoming_ci_events{
	margin-top: 20px;
	margin-bottom: 20px;
}
.upcoming_ci_events h3.title{
	margin-bottom: 20px;
}
.upcoming_ci_events .list > .row{
	/*display: flex;
    align-items: stretch;*/
}
.upcoming_ci_events .map{
	height: 400px;
}
.upcoming_ci_events .row > div{
	padding-top: 5px;
}
@media (min-width: 992px) {
	.upcoming_ci_events .row > div{
		min-height: 45px;
		padding-top: 0px;
	}
}



.upcoming_ci_events .row.odd {
	background-color: 	#f0f3f5;
}

.upcoming_ci_events .row.even {
	background-color: 	white;
}

.upcoming_ci_events .date{
	color: white;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0px!important;
	padding-bottom: 0px!important;
	/*padding: 0 5px;*/
}
.upcoming_ci_events .date .col-xs-6{
	padding: 0;
}

.upcoming_ci_events .date .date_start, .upcoming_ci_events .date .date_end{
	background-color: #c0c0c0;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 3px;
	cursor: crosshair;
}
.upcoming_ci_events .date .year0{
	background-color: #898b7c;
}
.upcoming_ci_events .date .year1{
	background-color: #bcbfac;
}
.upcoming_ci_events .date .year2{
	background-color: #c0c0c0;
}

.upcoming_ci_events .date .date_start{
	margin-right: 3px;
	padding-top: 0;
}

/*only Mobile*/
@media (min-width: 992px) {
	.upcoming_ci_events .date .date_start{
		margin-left: 3px;
	}
	.upcoming_ci_events .date .dateDesktop{
		display: block!important;
	}
	.upcoming_ci_events .date .dateMobile{
		display: none;
	}
}

/*Only Desktop*/
@media (max-width: 992px) {
	.upcoming_ci_events .row{
		padding-bottom: 10px;
	}
}