

.moduletable{
    /*padding: 1.5rem;*/

    .module-title{

    }
    .module-content{

    }
}



#sidebar-2{
    .custom{
        padding: 10px;
    
        &.square_banner{
            height: 160px;

            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            
            a{
                color: white;
            }
        }

        a{
            color: $orange;
            font-weight: bold;
        }

    }
}

