.mod-languages{
    /*float: right;*/
    margin: 0;
    padding:0;
    height: 40px;

    .btn-group{
        
        @media (max-width: 992px) {
            float: right;
        }
    }

    a{
        &.dropdown-toggle{
            padding-top: 9px;
            &:hover{
                color: white;
                /*color: #ededed;*/
            }
        }
        img{
            padding-bottom: 3px;
        }

        &.langChoose{
            padding: 0px!important;
            background-color: transparent!important;
            img{
                border: none!important;
            }
        }
    }

    ul{
        &.lang-inline{
            list-style-type: none;
            background: none!important;

            display: table-cell;
            vertical-align: middle;

            li{
                /*float: right;*/
                padding: 0;
                margin:0;
                display: block!important;
                
                a{
                    &:hover{
                        background-color: transparent!important;
                    }
                }

                &.lang-active{
                    a{
                        img{
                            border: 2px solid #edcda3;
                        }
                    }
                }
            }
        }

        &.dropdown-menu{
            bottom: 100%;  /* To reverse the Dropdown and get an Dropup */
            top: auto;
        }
    }

    &.advanced-dropdown{
        ul{
            position: relative!important;
            padding: 0!important;
            border-radius: 0!important;
        }
    }

} 

      
    