.socialNetworkLogin{
    margin: auto;
    max-width: 640px;

    padding-top: 40px;

    .moduletable{
        width: 100%;

        .userdata{
            display: flex;
            flex-wrap: wrap;

            #form-login-facebook{
                flex: 1 0 250px;
                margin-right: 20px;
                margin-left: 20px;
                margin-bottom: 20px;
            }
            #form-login-google{
                flex: 1 0 250px;
                margin-left: 20px;
            }
        }
    }
    

    
    .socialnetworks-separator{
        display: none;
    }
}