
/****** TIPOGRAPHY ******/

/** Avenir Next **/

@font-face{
    font-family:"Avenir Next";
    src:url($font-path/avenir-next-regular.eot?#iefix);
    src:url($font-path/avenir-next-regular.eot?#iefix) format("eot"),url($font-path/avenir-next-regular.woff) format("woff"),url($font-path/avenir-next-regular.ttf) format("truetype"),url($font-path/avenir-next-regular.svg#avenir-next-regular) format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family:"AvenirNext-bold";
    src:url($font-path/avenir-next-bold.eot?#iefix);
    src:url($font-path/avenir-next-bold.eot?#iefix) format("eot"),url($font-path/avenir-next-bold.woff) format("woff"),url($font-path/avenir-next-bold.ttf) format("truetype"),url($font-path/avenir-next-bold.svg#avenir-next-bold) format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family:"AvenirNext-italic";
    src:url($font-path/avenir-next-italic.eot?#iefix);
    src:url($font-path/avenir-next-italic.eot?#iefix) format("eot"),url($font-path/avenir-next-italic.woff) format("woff"),url($font-path/avenir-next-italic.ttf) format("truetype"),url($font-path/avenir-next-italic.svg#avenir-next-italic) format("svg");
}
@font-face{
    font-family:"AvenirNext-thin"; 
    src:url($font-path/avenir-next-thin.eot?#iefix);
    src:url($font-path/avenir-next-thin.eot?#iefix) format("eot"),url($font-path/avenir-next-thin.woff) format("woff"),url($font-path/avenir-next-thin.ttf) format("truetype"),url($font-path/avenir-next-thin.svg#avenir-next-thin) format("svg");
    font-weight: 100;
    font-style: normal;
}
@font-face{
    font-family:"AvenirNextLTPro-Demi";
    src:url($font-path/avenir-next-demi.eot?#iefix);
    src:url($font-path/avenir-next-demi.eot?#iefix) format("eot"),url($font-path/avenir-next-demi.woff) format("woff"),url($font-path/avenir-next-demi.ttf) format("truetype"),url($font-path/avenir-next-demi.svg#avenir-next-demi) format("svg");
    font-weight: normal;
    font-style: normal;
}



/** Merriweather **/

@font-face{
    font-family:"Merriweather";
    src:url($font-path/merriweather/Merriweather-Regular.eot?#iefix);
    src:url($font-path/merriweather/Merriweather-Regular.eot?#iefix) format("eot"),url($font-path/merriweather/Merriweather-Regular.woff) format("woff"),url($font-path/merriweather/Merriweather-Regular.ttf) format("truetype"),url($font-path/merriweather/Merriweather-Regular.svg#merriweather-regular) format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family:"Merriweather-Italic";
    src:url($font-path/merriweather/Merriweather-Italic.eot?#iefix);
    src:url($font-path/merriweather/Merriweather-Italic.eot?#iefix) format("eot"),url($font-path/merriweather/Merriweather-Italic.woff) format("woff"),url($font-path/merriweather/Merriweather-Italic.ttf) format("truetype"),url($font-path/merriweather/Merriweather-Italic.svg#merriweather-italic) format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family:"Merriweather-Bold";
    src:url($font-path/merriweather/Merriweather-Bold.eot?#iefix);
    src:url($font-path/merriweather/Merriweather-Bold.eot?#iefix) format("eot"),url($font-path/merriweather/Merriweather-Bold.woff) format("woff"),url($font-path/merriweather/Merriweather-Bold.ttf) format("truetype"),url($font-path/merriweather/Merriweather-Bold.svg#merriweather-bold) format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family:"Merriweather-BoldItalic";
    src:url($font-path/merriweather/Merriweather-BoldItalic.eot?#iefix);
    src:url($font-path/merriweather/Merriweather-BoldItalic.eot?#iefix) format("eot"),url($font-path/merriweather/Merriweather-BoldItalic.woff) format("woff"),url($font-path/merriweather/Merriweather-BoldItalic.ttf) format("truetype"),url($font-path/merriweather/Merriweather-BoldItalic.svg#merriweather-bolditalic) format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family:"Merriweather-Black";
    src:url($font-path/merriweather/Merriweather-Black.eot?#iefix);
    src:url($font-path/merriweather/Merriweather-Black.eot?#iefix) format("eot"),url($font-path/merriweather/Merriweather-Black.woff) format("woff"),url($font-path/merriweather/Merriweather-Black.ttf) format("truetype"),url($font-path/merriweather/Merriweather-Black.svg#merriweather-black) format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family:"Merriweather-BlackItalic";
    src:url($font-path/merriweather/Merriweather-BlackItalic.eot?#iefix);
    src:url($font-path/merriweather/Merriweather-BlackItalic.eot?#iefix) format("eot"),url($font-path/merriweather/Merriweather-BlackItalic.woff) format("woff"),url($font-path/merriweather/Merriweather-BlackItalic.ttf) format("truetype"),url($font-path/merriweather/Merriweather-BlackItalic.svg#merriweather-blackitalic) format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family:"Merriweather-Light";
    src:url($font-path/merriweather/Merriweather-Light.eot?#iefix);
    src:url($font-path/merriweather/Merriweather-Light.eot?#iefix) format("eot"),url($font-path/merriweather/Merriweather-Light.woff) format("woff"),url($font-path/merriweather/Merriweather-Light.ttf) format("truetype"),url($font-path/merriweather/Merriweather-Light.svg#merriweather-light) format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family:"Merriweather-LightItalic";
    src:url($font-path/merriweather/Merriweather-LightItalic.eot?#iefix);
    src:url($font-path/merriweather/Merriweather-LightItalic.eot?#iefix) format("eot"),url($font-path/merriweather/Merriweather-LightItalic.woff) format("woff"),url($font-path/merriweather/Merriweather-LightItalic.ttf) format("truetype"),url($font-path/merriweather/Merriweather-LightItalic.svg#merriweather-lightitalic) format("svg");
    font-weight: normal;
    font-style: normal;
}



/** Proxima Nova **/

@font-face{
    font-family:"ProximaNova";
    src:url($font-path/proxima-nova/ProximaNova-Regular.eot?#iefix);
    src:url($font-path/proxima-nova/ProximaNova-Regular.eot?#iefix) format("eot"),url($font-path/proxima-nova/ProximaNova-Regular.woff) format("woff"),url($font-path/proxima-nova/ProximaNova-Regular.ttf) format("truetype"),url($font-path/proxima-nova/ProximaNova-Regular.svg#proxima-nova-regular) format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family:"ProximaNova-Semibold";
    src:url($font-path/proxima-nova/ProximaNova-Semibold.eot?#iefix);
    src:url($font-path/proxima-nova/ProximaNova-Semibold.eot?#iefix) format("eot"),url($font-path/proxima-nova/ProximaNova-Semibold.woff) format("woff"),url($font-path/proxima-nova/ProximaNova-Semibold.ttf) format("truetype"),url($font-path/proxima-nova/ProximaNova-Semibold.svg#proxima-nova-semibold) format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family:"ProximaNova-Bold";
    src:url($font-path/proxima-nova/ProximaNova-Bold.eot?#iefix);
    src:url($font-path/proxima-nova/ProximaNova-Bold.eot?#iefix) format("eot"),url($font-path/proxima-nova/ProximaNova-Bold.woff) format("woff"),url($font-path/proxima-nova/ProximaNova-Bold.ttf) format("truetype"),url($font-path/proxima-nova/ProximaNova-Bold.svg#proxima-nova-bold) format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family:"ProximaNova-Extrabld";
    src:url($font-path/proxima-nova/ProximaNova-Extrabld.eot?#iefix);
    src:url($font-path/proxima-nova/ProximaNova-Extrabld.eot?#iefix) format("eot"),url($font-path/proxima-nova/ProximaNova-Extrabld.woff) format("woff"),url($font-path/proxima-nova/ProximaNova-Extrabld.ttf) format("truetype"),url($font-path/proxima-nova/ProximaNova-Extrabld.svg#proxima-nova-extrabold) format("svg");
    font-weight: normal;
    font-style: normal;
}



/****** end TIPOGRAPHY ******/