/**
 * @package 	JF Side Buttons
 * @author		JoomForest.com
 * @email		support@joomforest.com
 * @website		http://www.joomforest.com
 * @copyright	Copyright (C) 2011-2016 JoomForest.com, All rights reserved.
 * @license		JoomForest.com Proprietary Use License - http://www.joomforest.com/licenses
**/
.jf_sidebuttons {
	position: fixed;
	top: 50%;
	left: 0;
	z-index: 888;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.jf_sidebuttons {
	list-style: none;
	margin: 0;
	padding: 0;
}
.jf_sidebuttons li {
	margin: 2px 0;
}
.jf_sidebuttons li a {
	position: relative;
	border: 1px solid #DDD;
	background-color: #FFF;
	min-width: 86px;
	display: block;
	padding: 10px 37px 10px 10px;
	text-align: center;
	color: #222;
	left: -100%;
	margin-right: -37px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	font-size: 16px;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.jf_sidebuttons li a img {
	float: right;
	margin: 0 -27px;
}
.jf_sidebuttons li a:hover {
	left: 0%;
	text-decoration: none;
}
.jf_sidebuttons li a i {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 16px;
	height: 40px;
	line-height: 40px;
	width: 36px;
	text-align: center;
	display: block;
}
.jf_sidebuttons.right {
	left: auto;
	right: 0;
}
.jf_sidebuttons.right li a {
	left: auto;
	margin-right: -1px;
	right: -100%;
	margin-left: -37px;
	padding: 10px 10px 10px 37px;
}
.jf_sidebuttons.right li a:hover {
	left: auto;
	right: 0%;
}
.jf_sidebuttons.right li a i {
	left: 0;
	right: 0;
}
.jf_sidebuttons.right li a img {
	float: left;
}