
/**** Image popup Plugin - CSS override - plugin/contents/imagepopup ****/


/****** DIDASCALIE ******/

.imgDesc {
	background-color: 			#f2f2f2;
	padding: 					5px 11px 5px 11px;
	line-height: 				14px;
	clear: 						both;
	font-size: 					10px;
	color: 						#333;
}
.imageWrapper{
	margin-bottom: 				5px;
}
.imageWrapper img{
	/*margin-bottom: 				10px;*/
}

/** end DIDASCALIE **/

