
/**** Tabs Sliders Plugin - CSS override - plugin/contents/jw_ts ****/


/****** ACCORDION ******/
div.jwts_toggleControlContainer a{
	font-size: 				16px!important;
	font-weight: 			bold!important;
	padding-top:			10px!important;
	padding-bottom:			10px!important;
}
div.jwts_toggleControlContainer a.jwts_toggleControl{
	background-image: 		none;
	background-color: 		#ececec;
	border: 				none;
}
div.jwts_toggleControlContainer a.jwts_toggleOn{
	color: 					white;
	background-color: 		#F0B60D;
}
.jwts_toggleControlNotice{
	display: 				none!important;
}
div.jwts_toggleControlContainer a span.jwts_toggleControlTitle{
	display: 				block;
	width: 					99%;
	padding-left: 			5px!important;
}
div.jwts_toggleControlContainer a.jwts_toggleOff span.jwts_toggleControlTitle{
	background-image: 		url("../images/tabs/arrows_accordion.png")!important;
	background-position: 	right top!important;
	color: 					#454545!important;
	text-decoration: 		none!important;
}
div.jwts_toggleControlContainer a.jwts_toggleOn span.jwts_toggleControlTitle{
	background-image: 		url("../images/tabs/arrows_accordion.png")!important;
	background-position: 	right bottom!important;
	color: 					white!important;
}

.jwts_toggleControlContainer a{
	text-decoration: 		none!important;
}
div.jwts_content{
	padding: 0rem 2rem 1rem 2rem;
}
